* {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body,
html {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #3d3e3d;
  font-size: 21px;
  font-weight: normal;
}
@media screen and (max-width: 1440px) {
  body,
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 1440px) {
  body,
  html {
    font-size: 14px;
  }
}
a {
  color: #3d3e3d;
}
html,
body,
h1,
h2,
h3,
h4,
p,
button,
fieldset,
input,
ul,
li,
td,
th {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
a {
  text-decoration: none;
  outline: none;
}
button {
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
}
input,
select,
textarea,
fieldset {
  border: none;
  outline: none;
}
.main-menu {
  padding: 50px 2.91666667vw;
  padding-top: 0;
  padding-bottom: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 4;
  background-color: #fff;
}
@media screen and (max-width: 1440px) {
  .main-menu {
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (max-width: 576px) {
  .main-menu {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.main-menu__logo-img {
  max-width: 100%;
}
@media screen and (max-width: 1440px) {
  .main-menu__logo-img {
    max-width: 152px;
  }
}
@media screen and (max-width: 576px) {
  .main-menu__logo-img {
    display: none;
  }
}
.main-menu__logo-img--mob {
  display: none;
}
@media screen and (max-width: 576px) {
  .main-menu__logo-img--mob {
    display: block;
  }
}
.wrapper {
  padding-left: 58px;
  padding-right: 58px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .wrapper {
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (max-width: 576px) {
  .wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.main-nav {
  max-width: 80%;
  height: 112px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 1160px) {
  .main-nav {
    max-width: 83%;
  }
}
@media screen and (max-width: 1440px) {
  .main-nav {
    height: 70px;
  }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 900px) {
  .main-nav {
    display: none;
  }
}
.main-nav__item {
  display: block;
  margin-left: 2em;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #3d3e3d;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4.2px;
  font-size: 21px;
  text-align: center;
  flex-shrink: 2;
}
@media screen and (max-width: 1600px) {
  .main-nav__item {
    margin-left: 1.5em;
    font-size: 19px;
  }
}
@media screen and (max-width: 1440px) {
  .main-nav__item {
    font-size: 15px;
    margin-left: 1.3em;
  }
}
@media screen and (max-width: 1160px) {
  .main-nav__item {
    margin-left: 1.1em;
    letter-spacing: 2.1px;
  }
}
@media screen and (max-width: 1024px) {
  .main-nav__item {
    margin-left: 1em;
    flex-grow: 1;
    letter-spacing: 2.1px;
  }
}
@media screen and (max-width: 950px) {
  .main-nav__item {
    font-size: 1.5vw;
  }
}
.main-nav__item:first-child {
  margin-left: 0;
}
.main-nav__item:hover {
  color: #bccfde;
}
.main-nav__item:active {
  color: #bccfde;
}
.main-nav__item:target {
  color: #bccfde;
}
.mob-nav {
  height: 70px;
  display: flex;
  align-items: center;
}
.burger-container {
  display: none;
}
@media screen and (max-width: 900px) {
  .burger-container {
    display: block;
    width: 24px;
    height: 23px;
    cursor: pointer;
  }
}
.burger-container_icon {
  display: none;
}
@media screen and (max-width: 900px) {
  .burger-container_icon {
    position: relative;
    display: block;
    width: 24px;
    height: 3px;
    background-color: #3d3e3d;
  }
}
.burger-container_icon:before {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  width: 24px;
  height: 3px;
  background-color: #3d3e3d;
}
.burger-container_icon:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 24px;
  height: 3px;
  background-color: #3d3e3d;
}
.main-header {
  padding: 0 50px 2.91666667vw;
  padding-top: 112px;
}
@media screen and (max-width: 1440px) {
  .main-header {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .main-header {
    padding: 0 16px 16px;
  }
}
@media screen and (max-width: 1440px) {
  .main-header {
    padding-top: 70px;
  }
}
.main-slider__content {
  width: 100%;
  height: calc(100vh - (112px + 50px));
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .main-slider__content {
    height: calc(100vh - (70px + 34px));
  }
}
@media screen and (max-width: 576px) {
  .main-slider__content {
    height: calc(100vh - (70px + 16px));
  }
}
.main-slider__fon {
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-slider__fon--MZ {
  background-image: url("../img/Maria_Zalite.jpg");
  background-position: 80% top;
  background-color: #a6b3c6;
  display: none;
}
@media screen and (max-width: 1170px) {
  .main-slider__fon--MZ {
    background-image: url("../img/Maria_Zalite_1170.jpg");
  }
}
@media screen and (max-width: 800px) {
  .main-slider__fon--MZ {
    background-image: url("../img/Maria_Zalite_800.jpg");
    background-position: 50% top;
  }
}
.main-slider__fon--VA {
  background-image: url("../img/Victorija_Arefjeva.jpg");
  background-position: 20% top;
  background-color: #A0BCCB;
  display: none;
}
@media screen and (max-width: 1170px) {
  .main-slider__fon--VA {
    background-image: url("../img/Victorija_Arefjeva_1170.jpg");
  }
}
@media screen and (max-width: 800px) {
  .main-slider__fon--VA {
    background-image: url("../img/Victorija_Arefjeva_800.jpg");
    background-position: 50% top;
  }
}
.main-slider__fon--EB {
  background-image: url("../img/Elizaveta_Boronina.jpg");
  background-position: 20% top;
  background-color: #A0C6CB;
}
@media screen and (max-width: 1170px) {
  .main-slider__fon--EB {
    background-image: linear-gradient(0deg, rgba(98, 130, 183, 0.82) 0%, rgba(98, 130, 183, 0.82) 15%, rgba(98, 130, 183, 0.5) 30%, rgba(98, 130, 183, 0) 60%, rgba(98, 130, 183, 0) 100%), url("../img/Elizaveta_Boronina_1170.jpg");
  }
}
@media screen and (max-width: 800px) {
  .main-slider__fon--EB {
    background-image: linear-gradient(0deg, rgba(98, 130, 183, 0.82) 0%, rgba(98, 130, 183, 0.82) 15%, rgba(98, 130, 183, 0.5) 30%, rgba(98, 130, 183, 0) 60%, rgba(98, 130, 183, 0) 100%), url("../img/Elizaveta_Boronina_800.jpg");
    background-position: 50% top;
  }
}
.main-slider__fon--LL {
  background-image: url("../img/Ludmila_Lezova.jpg");
  background-position: 20% top;
  background-color: #A0C6CB;
  display: none;
}
@media screen and (max-width: 1170px) {
  .main-slider__fon--LL {
    background-position: 25% top;
    background-image: url("../img/Ludmila_Lezova_1170.jpg");
  }
}
@media screen and (max-width: 800px) {
  .main-slider__fon--LL {
    background-position: 25% top;
    background-image: url("../img/Ludmila_Lezova_800.jpg");
    background-position: 50% top;
  }
}
.promo {
  position: absolute;
  color: #ffffff;
  top: 28.125vh;
}
@media screen and (max-width: 1440px) {
  .promo {
    top: 22.4609375vh;
  }
}
@media screen and (max-width: 1170px) {
  .promo {
    top: auto;
    bottom: 8vh;
  }
}
@media screen and (max-width: 768px) {
  .promo {
    top: auto;
    bottom: 8.5vh;
  }
}
@media screen and (max-width: 576px) {
  .promo {
    top: auto;
    bottom: 5vh;
  }
}
.promo--MZ {
  left: 16.51041667vw;
  width: 490px;
}
@media screen and (max-width: 1440px) {
  .promo--MZ {
    display: none;
    left: 8.9958159vw;
    width: 396px;
  }
}
@media screen and (max-width: 1170px) {
  .promo--MZ {
    right: 50%;
    transform: translateX(50%);
  }
}
.promo--VA {
  right: 11.65745856%;
  width: 644px;
}
@media screen and (max-width: 1440px) {
  .promo--VA {
    right: 7.63598326vw;
    width: 396px;
  }
}
@media screen and (max-width: 1170px) {
  .promo--VA {
    right: 50%;
    transform: translateX(50%);
  }
}
@media screen and (max-width: 768px) {
  .promo--VA {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .promo--VA {
    width: 100%;
  }
}
.promo--EB {
  right: 7.29166667vw;
  width: 38.67403315%;
}
@media screen and (max-width: 1440px) {
  .promo--EB {
    right: 7.63598326vw;
    width: 396px;
  }
}
@media screen and (max-width: 1170px) {
  .promo--EB {
    right: 50%;
    transform: translateX(50%);
  }
}
@media screen and (max-width: 768px) {
  .promo--EB {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .promo--EB {
    width: 100%;
  }
}
.promo--LL {
  right: 7.8125vw;
  width: 43.92265193%;
}
@media screen and (max-width: 1440px) {
  .promo--LL {
    right: 7.63598326vw;
    width: 396px;
  }
}
@media screen and (max-width: 1170px) {
  .promo--LL {
    right: 50%;
    transform: translateX(50%);
  }
}
@media screen and (max-width: 768px) {
  .promo--LL {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .promo--LL {
    width: 100%;
  }
}
.promo__header {
  letter-spacing: 1.05px;
  margin-bottom: 35px;
}
@media screen and (max-width: 1440px) {
  .promo__header {
    margin-bottom: 27px;
  }
}
@media screen and (max-width: 768px) {
  .promo__header {
    margin-left: 34px;
    margin-right: 34px;
  }
}
@media screen and (max-width: 576px) {
  .promo__header {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.promo__header-name {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 1440px) {
  .promo__header-name {
    font-size: 26px;
    letter-spacing: 1.3px;
  }
}
@media screen and (max-width: 576px) {
  .promo__header-name {
    font-size: 17px;
    letter-spacing: 0.85px;
  }
}
.promo__header-position {
  font-size: 22px;
}
.promo__header-position span {
  text-transform: uppercase;
}
@media screen and (max-width: 1440px) {
  .promo__header-position {
    font-size: 18px;
    letter-spacing: 0.9px;
  }
}
@media screen and (max-width: 576px) {
  .promo__header-position {
    font-size: 12px;
    letter-spacing: 0.6px;
  }
}
.promo__footer {
  position: relative;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: 1.3px;
  text-indent: 1em;
}
@media screen and (max-width: 1440px) {
  .promo__footer {
    font-size: 21px;
    line-height: 30px;
    letter-spacing: normal;
  }
}
@media screen and (max-width: 768px) {
  .promo__footer {
    margin-left: 34px;
    margin-right: 34px;
  }
}
@media screen and (max-width: 576px) {
  .promo__footer {
    font-size: 15px;
    letter-spacing: 0.75px;
    line-height: 19px;
  }
}
@media screen and (max-width: 576px) {
  .promo__footer {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.promo__footer:before {
  content: open-quote;
  font-size: 120px;
  line-height: 60px;
  position: absolute;
  left: -45px;
  top: 25px;
}
@media screen and (max-width: 1440px) {
  .promo__footer:before {
    font-size: 96px;
    line-height: 48px;
    left: -39px;
    top: 20px;
  }
}
@media screen and (max-width: 576px) {
  .promo__footer:before {
    font-size: 60px;
    line-height: 30px;
    left: -25px;
    top: 12px;
  }
}
.main-slider__items {
  position: absolute;
  right: 2.74725275%;
  bottom: 3.07692308%;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .main-slider__items {
    right: 0;
    left: 0;
  }
}
.slider-item {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 16px;
  border: 2px solid rgba(255, 255, 255, 0);
  background-color: white;
}
@media screen and (max-width: 1170px) {
  .slider-item {
    width: 14px;
    height: 14px;
  }
}
@media screen and (max-width: 576px) {
  .slider-item {
    width: 8px;
    height: 8px;
    margin-left: 10px;
  }
}
.slider-item-active {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 16px;
  border: 2px solid rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  background-color: none;
}
@media screen and (max-width: 1170px) {
  .slider-item-active {
    width: 14px;
    height: 14px;
  }
}
@media screen and (max-width: 576px) {
  .slider-item-active {
    width: 8px;
    height: 8px;
    margin-left: 10px;
  }
}
.slider-item:active {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 16px;
  border: 2px solid rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  background-color: none;
}
@media screen and (max-width: 1170px) {
  .slider-item:active {
    width: 14px;
    height: 14px;
  }
}
@media screen and (max-width: 576px) {
  .slider-item:active {
    width: 8px;
    height: 8px;
    margin-left: 10px;
  }
}
.main-video {
  padding: 0 50px 2.91666667vw;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .main-video {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .main-video {
    padding: 0 16px 16px;
  }
}
.video-mobile--vertical {
  width: 100%;
  height: calc(100vh - (112px + 50px));
  position: relative;
  display: none;
}
@media screen and (max-width: 1440px) {
  .video-mobile--vertical {
    height: calc(100vh - (70px + 34px));
  }
}
@media screen and (max-width: 576px) {
  .video-mobile--vertical {
    height: calc(100vh - (70px + 16px));
  }
}
@media screen and (max-width: 576px) {
  .video-mobile--vertical {
    display: block;
    background: url(../img/video_fon.jpg) center no-repeat;
    background-size: cover;
    background-position-x: 60%;
  }
}
.main-video__control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
}
.video__arrow {
  width: 85px;
  height: 95px;
  background-image: url(../img/video_play_icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto;
  margin-bottom: 50px;
  cursor: pointer;
}
@media screen and (max-width: 1440px) {
  .video__arrow {
    width: 41px;
    height: 45px;
    background-size: contain;
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 576px) {
  .video__arrow {
    margin-bottom: 28px;
  }
}
.video__title {
  color: #3d3e3d;
  max-width: 500px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 9.6px;
  text-transform: uppercase;
  color: white;
}
@media screen and (max-width: 1440px) {
  .video__title {
    font-size: 30px;
    letter-spacing: 4.8px;
  }
}
@media screen and (max-width: 576px) {
  .video__title {
    font-size: 28px;
    line-height: 1.21em;
    letter-spacing: 5.6px;
    width: 50%;
  }
}
@media screen and (max-width: 1440px) {
  .video__title {
    max-width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .video__title {
    max-width: 35%;
  }
}
@media screen and (max-width: 615px) {
  .video__title {
    width: 90%;
    max-width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .video__title {
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 4.2px;
  }
}
.relation {
  position: relative;
}
@media screen and (max-width: 576px) {
  .relation {
    display: none;
  }
}
.relation__ratio-16x9 {
  padding-top: 56.25%;
}
.relation__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-finished-projects {
  padding: 0 50px 2.91666667vw;
}
@media screen and (max-width: 1440px) {
  .main-finished-projects {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .main-finished-projects {
    padding: 0 16px 16px;
  }
}
.finished-projects-content {
  width: 100%;
  height: calc(100vh - (112px + 50px));
  height: auto;
}
@media screen and (max-width: 1440px) {
  .finished-projects-content {
    height: calc(100vh - (70px + 34px));
  }
}
@media screen and (max-width: 576px) {
  .finished-projects-content {
    height: calc(100vh - (70px + 16px));
  }
}
@media screen and (max-width: 1440px) {
  .finished-projects-content {
    height: auto;
  }
}
.finished-projects-header {
  width: 100%;
  height: 187px;
  background-color: #eef1f5;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 1440px) {
  .finished-projects-header {
    height: 182px;
  }
}
@media screen and (max-width: 1024px) {
  .finished-projects-header {
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 992px) {
  .finished-projects-header {
    margin-bottom: 6%;
  }
}
@media screen and (max-width: 576px) {
  .finished-projects-header {
    margin-bottom: 16px;
  }
}
.finished-projects-header__title {
  padding-left: 58px;
}
@media screen and (max-width: 1440px) {
  .finished-projects-header__title {
    padding-left: 34px;
  }
}
@media screen and (max-width: 576px) {
  .finished-projects-header__title {
    padding-left: 0;
    text-align: center;
    margin: auto;
  }
}
.finished-projects-header__title-main {
  display: inline-block;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 9.6px;
  text-transform: uppercase;
  margin-right: 75px;
}
@media screen and (max-width: 1440px) {
  .finished-projects-header__title-main {
    font-size: 30px;
    letter-spacing: 4.8px;
  }
}
@media screen and (max-width: 576px) {
  .finished-projects-header__title-main {
    font-size: 28px;
    line-height: 1.21em;
    letter-spacing: 5.6px;
    width: 50%;
  }
}
@media screen and (max-width: 1440px) {
  .finished-projects-header__title-main {
    margin-right: 14px;
  }
}
@media screen and (max-width: 576px) {
  .finished-projects-header__title-main {
    display: block;
    margin-right: auto;
    max-width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 4px;
  }
}
.finished-projects-header__subtitle {
  font-size: 18px;
  letter-spacing: 0.9px;
}
@media screen and (max-width: 1440px) {
  .finished-projects-header__subtitle {
    font-size: 14px;
    letter-spacing: 0.7px;
    display: inline-block;
  }
}
@media screen and (max-width: 576px) {
  .finished-projects-header__subtitle {
    display: block;
    text-align: center;
    margin: auto;
  }
}
.finished-project-main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  margin-top: -50px;
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 576px) {
  .finished-project-main {
    margin-top: -16px;
  }
}
.finished-project-item {
  position: relative;
  flex: 0 1 31.49171271%;
  max-width: 570px;
  height: 320px;
  max-height: 320px;
  text-decoration: none;
  color: #ffffff;
  margin-top: 50px;
}
@media screen and (max-width: 1440px) {
  .finished-project-item {
    flex-grow: 1;
    flex-basis: 500px;
    max-width: 31.5%;
    height: 207px;
    max-height: 207px;
    margin-top: 34px;
  }
}
@media screen and (max-width: 992px) {
  .finished-project-item {
    flex-basis: 300px;
    max-width: 48%;
  }
}
@media screen and (max-width: 576px) {
  .finished-project-item {
    flex-shrink: 0;
    max-width: 100%;
    height: 330px;
    margin-top: 16px;
  }
}
.finished-project-item--pict1 {
  background: linear-gradient(8deg, #75885d 0%, #75885d 19%, rgba(117, 136, 93, 0) 41%, rgba(117, 136, 93, 0) 43%), url("../img/sovremennost.jpg") center no-repeat;
}
.finished-project-item--pict2 {
  background: linear-gradient(8deg, #75885d 0%, #75885d 19%, rgba(117, 136, 93, 0) 41%, rgba(117, 136, 93, 0) 43%), url("../img/legkost.jpg") center no-repeat;
}
.finished-project-item--pict3 {
  background: linear-gradient(8deg, #75885d 0%, #75885d 19%, rgba(117, 136, 93, 0) 41%, rgba(117, 136, 93, 0) 43%), url("../img/celeustremlennoct.jpg") center no-repeat;
}
.finished-project-item--pict4 {
  background: linear-gradient(8deg, #75885d 0%, #75885d 19%, rgba(117, 136, 93, 0) 41%, rgba(117, 136, 93, 0) 43%), url("../img/uspeshnost.jpg") center no-repeat;
}
.finished-project-item--pict5 {
  background: linear-gradient(8deg, #75885d 0%, #75885d 19%, rgba(117, 136, 93, 0) 41%, rgba(117, 136, 93, 0) 43%), url("../img/krasochnost.jpg") center no-repeat;
}
.finished-project-item--pict6 {
  background: linear-gradient(8deg, #75885d 0%, #75885d 19%, rgba(117, 136, 93, 0) 41%, rgba(117, 136, 93, 0) 43%), url("../img/celeustremlennoct.jpg") center no-repeat;
}
.finished-project-title {
  position: absolute;
  bottom: 23px;
  left: 0;
  padding-left: 10.1754386%;
  text-decoration: none;
}
@media screen and (max-width: 1440px) {
  .finished-project-title {
    bottom: 15px;
    padding-left: 13.51351351%;
  }
}
@media screen and (max-width: 576px) {
  .finished-project-title {
    bottom: 11px;
    padding-left: 16px;
  }
}
.finished-project-title__name {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 4.4px;
  text-transform: uppercase;
}
@media screen and (max-width: 1440px) {
  .finished-project-title__name {
    font-size: 12px;
    letter-spacing: 2.4px;
  }
}
@media screen and (max-width: 1440px) {
  .finished-project-title__name {
    font-size: 14px;
    letter-spacing: 2.8px;
  }
}
.finished-project-title__area {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2.8px;
}
@media screen and (max-width: 1440px) {
  .finished-project-title__area {
    font-size: 9px;
    letter-spacing: 1.8px;
  }
}
.main-customer-project {
  padding: 0 50px 2.91666667vw;
}
@media screen and (max-width: 1440px) {
  .main-customer-project {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .main-customer-project {
    padding: 0 16px 16px;
  }
}
.customer-project-content {
  width: 100%;
  height: calc(100vh - (112px + 50px));
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1440px) {
  .customer-project-content {
    height: calc(100vh - (70px + 34px));
  }
}
@media screen and (max-width: 576px) {
  .customer-project-content {
    height: calc(100vh - (70px + 16px));
  }
}
@media screen and (max-width: 940px) {
}
@media screen and (max-width: 740px) {
  .customer-project-content {
    flex-wrap: wrap;
    height: auto;
  }
}
.customer-form {
  flex-basis: 878px;
  max-width: 878px;
  padding-top: 70px;
  padding-left: 58px;
  padding-right: 58px;
  margin-right: 3.09392265%;
  background-color: #dce3ea;
}
@media screen and (max-width: 1440px) {
  .customer-form {
    flex-basis: 458px;
    flex-grow: 1;
    padding-top: 36px;
    padding-left: 34px;
    padding-right: 34px;
    margin-right: 3.76569038%;
  }
}
@media screen and (max-width: 1024px) {
  .customer-form {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 740px) {
  .customer-form {
    margin-right: auto;
    padding-top: 40px;
  }
}
@media screen and (max-width: 576px) {
  .customer-form {
    margin-right: auto;
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.customer-form__header {
  margin-bottom: 53px;
}
@media screen and (max-width: 1440px) {
  .customer-form__header {
    margin-bottom: 23px;
  }
}
.customer-form__header-title {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 9.6px;
  text-transform: uppercase;
  margin-bottom: 6px;
}
@media screen and (max-width: 1440px) {
  .customer-form__header-title {
    font-size: 30px;
    letter-spacing: 4.8px;
  }
}
@media screen and (max-width: 576px) {
  .customer-form__header-title {
    font-size: 28px;
    line-height: 1.21em;
    letter-spacing: 5.6px;
    width: 50%;
  }
}
@media screen and (max-width: 1440px) {
  .customer-form__header-title {
    margin-bottom: -1px;
  }
}
@media screen and (max-width: 576px) {
  .customer-form__header-title {
    margin: auto;
    text-align: center;
    margin-bottom: 4px;
    width: 100%;
  }
}
.customer-form__header-subtitle {
  font-size: 18px;
  letter-spacing: 1.05px;
}
@media screen and (max-width: 1440px) {
  .customer-form__header-subtitle {
    font-size: 14px;
    letter-spacing: 0.7px;
  }
}
@media screen and (max-width: 576px) {
  .customer-form__header-subtitle {
    line-height: 1.29em;
    margin: auto;
    text-align: center;
    min-width: 50%;
  }
}
.customer-form__fieldset-short {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -4%;
}
.customer-form__fieldset-short__pair {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.customer-form__container-field {
  position: relative;
  min-width: 46%;
  height: 64px;
  flex-grow: 1;
  margin-right: 4%;
  margin-bottom: 28px;
}
@media screen and (max-width: 1440px) {
  .customer-form__container-field {
    height: 46px;
    flex-basis: 47%;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 576px) {
  .customer-form__container-field {
    min-width: auto;
    height: 48px;
    flex-basis: 100%;
  }
}
.customer-form__field {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  color: #a1a9b0;
  padding-left: 25px;
  border: none;
  outline: none;
}
@media screen and (max-width: 1440px) {
  .customer-form__field {
    font-size: 15px;
    letter-spacing: 0.75px;
    padding-left: 18px;
  }
}
@media screen and (max-width: 576px) {
  .customer-form__field {
    font-size: 14px;
    letter-spacing: 1.4px;
    padding-left: 15px;
  }
}
.textarea {
  width: 100%;
  height: 166px;
  margin-bottom: 28px;
}
@media screen and (max-width: 1440px) {
  .textarea {
    height: 77px;
    margin-bottom: 16px;
  }
}
.textarea__field {
  resize: none;
  padding-top: 22px;
}
@media screen and (max-width: 1440px) {
  .textarea__field {
    padding-top: 16px;
  }
}
@media screen and (max-width: 576px) {
  .textarea__field {
    padding-top: 10px;
  }
}
textarea::placeholder,
input::placeholder {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  color: #a1a9b0;
}
@media screen and (max-width: 1440px) {
  textarea::placeholder,
  input::placeholder {
    font-size: 15px;
    letter-spacing: 0.75px;
  }
}
@media screen and (max-width: 576px) {
  textarea::placeholder,
  input::placeholder {
    font-size: 14px;
    letter-spacing: 1.4px;
    padding-left: 15px;
  }
}
.select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #a1a9b0;
  cursor: pointer;
}
.select::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  cursor: pointer;
  background: url("../img/select_arrow.png") 93% 52% no-repeat;
  background-color: #FFFFFF;
}
.select::before:hover {
  background-image: url("../img/select_arrow_hover.png");
  filter: brightness(0.8);
}
@media screen and (max-width: 1440px) {
  .select::before {
    background-size: auto 24%;
  }
}
.select__option {
  height: 30px;
  border: none;
  outline: none;
  padding-top: 8px;
  padding-left: 25px;
  line-height: 30px;
  cursor: pointer;
}
@media screen and (max-width: 1440px) {
  .select__option {
    height: 28px;
    padding-left: 18px;
    line-height: 28px;
  }
}
@media screen and (max-width: 576px) {
  .select__option {
    height: 28px;
    padding-left: 15px;
    line-height: 28px;
  }
}
.option-first {
  height: 30px;
  border: none;
  outline: none;
  padding-top: 8px;
  padding-left: 25px;
  line-height: 30px;
  cursor: pointer;
}
@media screen and (max-width: 1440px) {
  .option-first {
    height: 28px;
    padding-left: 18px;
    line-height: 28px;
  }
}
@media screen and (max-width: 576px) {
  .option-first {
    height: 28px;
    padding-left: 15px;
    line-height: 28px;
  }
}
.form__input-file {
  display: block;
  position: relative;
  background: url("../img/input_file_icon.png") 93% 50% no-repeat;
  background-color: #a0a4a8;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.9px;
}
.form__input-file:hover {
  background-color: #858b90;
}
.form__input-fileactive {
  background-color: #6c7176;
}
@media screen and (max-width: 1440px) {
  .form__input-file {
    font-size: 15px;
    letter-spacing: 0.75px;
    line-height: 13px;
    background-size: auto 40%;
  }
}
.input-file {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding-left: 25px;
}
@media screen and (max-width: 1440px) {
  .input-file {
    padding-left: 18px;
  }
}
.input-file-field {
  display: none;
}
.input-file-text {
  width: 70%;
}
@media screen and (max-width: 1440px) {
  .input-file-text {
    width: 75%;
  }
}
@media screen and (max-width: 1024px) {
  .input-file-text {
    width: 60%;
  }
}
.button-form {
  box-sizing: border-box;
  height: 64px;
  color: white;
  background-color: #667e48;
  font-size: 18px;
  letter-spacing: 3.6px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 100%;
}
.button-form:hover {
  background-color: #596e3f;
}
.button-form:active {
  background-color: #4c5e35;
}
@media screen and (max-width: 1440px) {
  .button-form {
    height: 46px;
    font-size: 16px;
    letter-spacing: 2.4px;
  }
}
@media screen and (max-width: 1440px) {
  .button-form {
    height: 48px;
    font-size: 14px;
    letter-spacing: 2.1px;
  }
}
.form-use {
  flex-basis: 878px;
  padding-top: 197px;
  padding-right: 3.75690608%;
  padding-left: 3.75690608%;
  background-color: #eef1f5;
}
@media screen and (max-width: 1440px) {
  .form-use {
    flex-basis: 458px;
    flex-grow: 1;
    padding-top: 107px;
    padding-right: 4.07949791%;
    padding-left: 4.07949791%;
  }
}
@media screen and (max-width: 740px) {
  .form-use {
    flex-basis: 100%;
    padding-bottom: 62px;
    padding-top: 70px;
    padding-left: 34px;
    padding-right: 34px;
    margin-top: 34px;
  }
}
@media screen and (max-width: 576px) {
  .form-use {
    padding-top: 41px;
    padding-top: 40px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 16px;
  }
}
.form-use p > span {
  text-transform: uppercase;
}
.form-use__title {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #667e48;
  font-size: 28px;
  letter-spacing: 5.6px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 67px;
}
@media screen and (max-width: 1440px) {
  .form-use__title {
    font-size: 19px;
    letter-spacing: 3.8px;
    margin-bottom: 32px;
  }
}
@media screen (max-width: 576px) {
  .form-use__title {
    font-size: 18px;
    letter-spacing: 3.6px;
  }
}
.form-use__text {
  line-height: 33px;
  letter-spacing: 50;
  margin-bottom: 32px;
}
@media screen and (max-width: 1440px) {
  .form-use__text {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 17px;
  }
}
@media screen and (max-width: 576px) {
  .form-use__text {
    font-size: 14px;
    line-height: 1.29em;
    margin-bottom: 14px;
  }
}
.form-use__text-important {
  font-weight: bold;
}
@media screen and (max-width: 1440px) {
  .form-use__text-important {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 17px;
  }
}
@media screen and (max-width: 576px) {
  .form-use__text-important {
    font-size: 14px;
    line-height: 1.29em;
    margin-bottom: 14px;
  }
}
.main-process {
  padding: 0 50px 2.91666667vw;
}
@media screen and (max-width: 1440px) {
  .main-process {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .main-process {
    padding: 0 16px 16px;
  }
}
@media screen and (max-width: 576px) {
  .main-process {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.main-process-content {
  width: 100%;
  height: calc(100vh - (112px + 50px));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f8;
}
@media screen and (max-width: 1440px) {
  .main-process-content {
    height: calc(100vh - (70px + 34px));
  }
}
@media screen and (max-width: 576px) {
  .main-process-content {
    height: calc(100vh - (70px + 16px));
  }
}
@media screen and (max-width: 940px) {
  .main-process-content {
    height: auto;
    padding-top: 80px;
    padding-bottom: 120px;
  }
}
@media screen and (max-width: 760px) {
  .main-process-content {
    padding-top: 43px;
    padding-bottom: 14px;
  }
}
.main-process_title {
  position: absolute;
  z-index: 1;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 9.6px;
  text-transform: uppercase;
  top: 78px;
  left: 0;
  padding-left: 58px;
}
@media screen and (max-width: 1440px) {
  .main-process_title {
    font-size: 30px;
    letter-spacing: 4.8px;
  }
}
@media screen and (max-width: 576px) {
  .main-process_title {
    font-size: 28px;
    line-height: 1.21em;
    letter-spacing: 5.6px;
    width: 50%;
  }
}
@media screen and (max-width: 1440px) {
  .main-process_title {
    top: 37px;
  }
}
@media screen and (max-width: 576px) {
  .main-process_title {
    display: none;
  }
}
.process-slider {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-bottom: 50px;
}
.process-slider__illusrtration {
  width: 572px;
  height: auto;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 9px;
}
@media screen and (max-width: 1440px) {
  .process-slider__illusrtration {
    width: 450px;
  }
}
@media screen and (max-width: 992px) {
  .process-slider__illusrtration {
    width: 350px;
  }
}
@media screen and (max-width: 768px) {
  .process-slider__illusrtration {
    width: 100%;
  }
}
.process-slider__illusrtration-img {
  display: block;
  width: 85%;
  object-fit: cover;
  object-position: center;
}
@media screen and (max-width: 1440px) {
}
.process-slider .show-none {
  display: none;
}
.process-slider__info {
  max-width: 750px;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .process-slider__info {
    max-width: 600px;
  }
}
@media screen and (max-width: 992px) {
  .process-slider__info {
    max-width: 500px;
  }
}
@media screen and (max-width: 576px) {
  .process-slider__info {
    width: 100%;
    margin: auto;
  }
}
.process-slider__title {
  text-align: center;
  margin-bottom: 28px;
  font-size: 28px;
  color: #667e48;
  letter-spacing: 5.6px;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 1440px) {
  .process-slider__title {
    font-size: 21px;
    letter-spacing: 4.2px;
    margin-bottom: 21px;
  }
}
@media screen and (max-width: 576px) {
  .process-slider__title {
    font-size: 17px;
    letter-spacing: 3.4px;
    margin-bottom: 12px;
  }
}
.process-slider__text {
  font-size: 21px;
  line-height: 33px;
  letter-spacing: 1.05px;
}
@media screen and (max-width: 1440px) {
  .process-slider__text {
    font-size: 16px;
    letter-spacing: 1.05px;
    line-height: 24px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (max-width: 576px) {
  .process-slider__text {
    font-size: 13px;
    letter-spacing: 0.65px;
    line-height: 17px;
  }
}
.process-slider__pagination {
  width: 950px;
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
}
@media screen and (max-width: 1440px) {
  .process-slider__pagination {
    width: 700px;
    margin-top: 33px;
  }
}
@media screen and (max-width: 768px) {
  .process-slider__pagination {
    margin-top: 33px;
    width: 80vw;
  }
}
@media screen and (max-width: 768px) {
  .process-slider__pagination {
    margin-top: 30px;
    width: 80vw;
  }
}
.process-slider__pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
}
@media screen and (max-width: 1440px) {
  .process-slider__pagination-container {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .process-slider__pagination-container {
    max-width: 86%;
  }
}
.process-slider__arrow {
  width: 15px;
  height: 32px;
  cursor: pointer;
}
.process-slider__arrow-left {
  background: url("../img/process_arrow_left_icon.png") center center no-repeat;
}
.process-slider__arrow-left:hover {
  filter: brightness(0.7);
}
@media screen and (max-width: 1440px) {
  .process-slider__arrow-left {
    background-size: 80%;
  }
}
@media screen and (max-width: 420px) {
  .process-slider__arrow-left {
    background-size: 60%;
  }
}
.process-slider__arrow-right {
  background: url("../img/process_arrow_right_icon.png") center center no-repeat;
}
.process-slider__arrow-right:hover {
  filter: brightness(0.7);
}
@media screen and (max-width: 1440px) {
  .process-slider__arrow-right {
    background-size: 80%;
  }
}
@media screen and (max-width: 420px) {
  .process-slider__arrow-right {
    background-size: 60%;
  }
}
.process-slider__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process-slider__item-fon {
  position: relative;
  margin: 0 auto;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #667e48;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width: 1440px) {
  .process-slider__item-fon {
    width: 32px;
    height: 32px;
    font-size: 15px;
  }
}
@media screen and (max-width: 420px) {
  .process-slider__item-fon {
    width: 24px;
    height: 24px;
    font-size: 11px;
  }
}
.process-slider__item-fon--active {
  color: #ffffff;
  background-color: #667e48;
}
.process-slider__item-fon:checked {
  color: #ffffff;
  background-color: #667e48;
}
.process-slider__item-fon:active {
  color: #ffffff;
  background-color: #667e48;
}
.process-slider__item-fon:hover {
  color: #ffffff;
  background-color: #667e48;
}
.process-slider__item-name {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 12px;
  font-size: 10px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.7px;
  color: #667e48;
}
@media screen and (max-width: 1440px) {
  .process-slider__item-name {
    padding-top: 10px;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 1.2px;
  }
}
@media screen and (max-width: 992px) {
  .process-slider__item-name {
    padding-top: 10px;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 0.4px;
  }
}
@media screen and (max-width: 768px) {
  .process-slider__item-name {
    display: none;
  }
}
.main-payment {
  padding: 0 50px 2.91666667vw;
}
@media screen and (max-width: 1440px) {
  .main-payment {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .main-payment {
    padding: 0 16px 16px;
  }
}
.main-payment-content {
  width: 100%;
  height: calc(100vh - (112px + 50px));
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f8;
}
@media screen and (max-width: 1440px) {
  .main-payment-content {
    height: calc(100vh - (70px + 34px));
  }
}
@media screen and (max-width: 576px) {
  .main-payment-content {
    height: calc(100vh - (70px + 16px));
  }
}
@media screen and (max-width: 940px) {
  .main-payment-content {
    height: auto;
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media screen and (max-width: 576px) {
  .main-payment-content {
    padding-top: 27px;
    padding-bottom: 23px;
  }
}
.payment-slider {
  max-width: 1386px;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .payment-slider {
    max-width: 900px;
  }
}
.payment-slider__title {
  text-align: center;
  margin-bottom: 77px;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 200;
  text-transform: uppercase;
  color: #667e48;
}
@media screen and (max-width: 1440px) {
  .payment-slider__title {
    margin-bottom: 40px;
    font-size: 21px;
  }
}
@media screen and (max-width: 576px) {
  .payment-slider__title {
    margin-bottom: 27px;
    font-size: 16px;
  }
}
.payment-slider__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media screen and (max-width: 700px) {
  .payment-slider__content {
    display: none;
  }
}
.payment-slider__illustration-img {
  display: block;
  width: 1281px;
  margin-bottom: 48px;
}
@media screen and (max-width: 1440px) {
  .payment-slider__illustration-img {
    width: 900px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .payment-slider__illustration-img {
    width: 757px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 870px) {
  .payment-slider__illustration-img {
    width: 590px;
  }
}
.payment-slider__info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.payment-slider__arrow {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
@media screen and (max-width: 1440px) {
  .payment-slider__arrow {
    width: 26px;
    height: 26px;
  }
}
.payment-slider__arrow--left {
  background: url("../img//process_arrow_left_icon.png") 0% 50% no-repeat;
}
@media screen and (max-width: 1440px) {
  .payment-slider__arrow--left {
    background-size: 12px auto;
  }
  .payment-slider__arrow--left:hover {
    filter: brightness(0.7);
  }
}
.payment-slider__arrow--right {
  background: url("../img//process_arrow_right_icon.png") 100% 50% no-repeat;
}
@media screen and (max-width: 1440px) {
  .payment-slider__arrow--right {
    background-size: 12px auto;
  }
  .payment-slider__arrow--right:hover {
    filter: brightness(0.7);
  }
}
.payment-slider__text-container {
  position: relative;
  display: inline-table;
  box-sizing: border-box;
  width: 1288px;
  height: 220px;
  background-color: #ffF;
  border-top: 2px solid #667e48;
}
@media screen and (max-width: 1600px) {
  .payment-slider__text-container {
    width: 1000px;
    height: 210px;
  }
}
@media screen and (max-width: 1440px) {
  .payment-slider__text-container {
    width: 940px;
    height: 190x;
  }
}
@media screen and (max-width: 1200px) {
  .payment-slider__text-container {
    width: 712px;
    height: 174px;
  }
}
@media screen and (max-width: 870px) {
  .payment-slider__text-container {
    width: 550px;
    height: 174px;
    padding-left: 10%;
    padding-right: 10%;
  }
}
.payment-slider__triangle-pointer {
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #667e48 transparent;
  border-width: 0 14px 32px 14px;
}
.payment-slider__triangle-pointer--4 {
  top: -30px;
  left: 1027px;
}
@media screen and (max-width: 1600px) {
  .payment-slider__triangle-pointer--4 {
    top: -30px;
    left: 883px;
  }
}
@media screen and (max-width: 1440px) {
  .payment-slider__triangle-pointer--4 {
    top: -16px;
    left: 585px;
    border-width: 0 7px 16px 7px;
  }
}
@media screen and (max-width: 1024px) {
  .payment-slider__triangle-pointer--4 {
    left: 585px;
  }
}
@media screen and (max-width: 870px) {
  .payment-slider__triangle-pointer {
    left: 450px;
  }
}
.payment-slider__text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
@media screen and (max-width: 1440px) {
  .payment-slider__text {
    font-size: 16px;
  }
}
.show-none {
  display: none;
}
.payment-slider__content--mob {
  display: none;
}
@media screen and (max-width: 700px) {
  .payment-slider__content--mob {
    display: block;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (max-width: 576px) {
  .payment-slider__content--mob {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.payment-mob__img {
  width: 100%;
}
.main-contacts {
  padding: 0 50px 2.91666667vw;
}
@media screen and (max-width: 1440px) {
  .main-contacts {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .main-contacts {
    padding: 0 16px 16px;
  }
}
.main-contacts-content {
  width: 100%;
  height: calc(100vh - (112px + 50px));
  height: 666px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .main-contacts-content {
    height: calc(100vh - (70px + 34px));
  }
}
@media screen and (max-width: 576px) {
  .main-contacts-content {
    height: calc(100vh - (70px + 16px));
  }
}
@media screen and (max-width: 1440px) {
  .main-contacts-content {
    height: 481px;
  }
}
@media screen and (max-width: 940px) {
  .main-contacts-content {
    height: 100%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 576px) {
  .main-contacts-content {
    height: auto;
  }
}
.contacts {
  width: 50%;
  padding-left: 58px;
  padding-top: 70px;
  background-color: #eef1f5;
  z-index: 0;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .contacts {
    padding-top: 37px;
  }
}
@media screen and (max-width: 940px) {
  .contacts {
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }
}
@media screen and (max-width: 576px) {
  .contacts {
    padding-top: 40px;
    width: 100%;
    height: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.contacts__header {
  margin-bottom: 76px;
}
@media screen and (max-width: 1440px) {
  .contacts__header {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 576px) {
  .contacts__header {
    width: 100%;
    margin-bottom: 40px;
  }
}
.contacts__title {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 9.6px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
@media screen and (max-width: 1440px) {
  .contacts__title {
    font-size: 30px;
    letter-spacing: 4.8px;
  }
}
@media screen and (max-width: 576px) {
  .contacts__title {
    font-size: 28px;
    line-height: 1.21em;
    letter-spacing: 5.6px;
    width: 50%;
  }
}
@media screen and (max-width: 1440px) {
  .contacts__title {
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 576px) {
  .contacts__title {
    width: 100%;
    margin: auto;
    margin-bottom: 8px;
  }
}
.contacts__subtitle {
  max-width: 325px;
  font-size: 18px;
  font-weight: bold;
  color: #a3a6ac;
  line-height: 21px;
  letter-spacing: 0.9px;
}
@media screen and (max-width: 1440px) {
  .contacts__subtitle {
    max-width: 232px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.7px;
  }
}
@media screen and (max-width: 940px) {
  .contacts__subtitle {
    max-width: 70%;
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  .contacts__subtitle {
    max-width: 100%;
  }
}
.contacts__phone {
  margin-bottom: 27px;
}
@media screen and (max-width: 576px) {
  .contacts__phone {
    margin-bottom: 36px;
    width: 100%;
  }
}
.contacts__phone-t {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #a3a6ac;
  letter-spacing: 3.6px;
  margin-bottom: 5px;
}
@media screen and (max-width: 1440px) {
  .contacts__phone-t {
    font-size: 12px;
    letter-spacing: 2.4px;
    margin-bottom: 3px;
  }
}
.contacts__phone-number {
  display: block;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #3d3e3d;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 6.4px;
  text-decoration: none;
}
@media screen and (max-width: 1440px) {
  .contacts__phone-number {
    font-size: 20px;
    letter-spacing: 4px;
  }
}
@media screen and (max-width: 576px) {
  .contacts__phone-number {
    font-size: 21px;
    letter-spacing: 4.2px;
  }
}
.contacts__email {
  margin-bottom: 80px;
}
@media screen and (max-width: 1440px) {
  .contacts__email {
    margin-bottom: 28px;
  }
}
.contacts__email-t {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #a3a6ac;
  letter-spacing: 3.6px;
  margin-bottom: 6px;
}
@media screen and (max-width: 1440px) {
  .contacts__email-t {
    font-size: 12px;
    letter-spacing: 2.4px;
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 576px) {
  .contacts__email-t {
    margin-bottom: 6px;
  }
}
.contacts__email-adr {
  display: inline-block;
  box-sizing: border-box;
  font-size: 26px;
  font-weight: bold;
  color: #a3a6ac;
  letter-spacing: 1.3px;
  text-decoration: none;
  border-bottom: 2px solid rgba(163, 166, 172, 0);
}
@media screen and (max-width: 1440px) {
  .contacts__email-adr {
    border-bottom: 1px solid rgba(163, 166, 172, 0);
    font-size: 14px;
    letter-spacing: 0.7px;
  }
}
@media screen and (max-width: 576px) {
  .contacts__email-adr {
    font-size: 17px;
    letter-spacing: 0.85px;
  }
}
.contacts__email-adr:hover {
  border-bottom: 2px solid #a3a6ac;
}
@media screen and (max-width: 1440px) {
  .contacts__email-adr:hover {
    border-bottom: 1px solid #a3a6ac;
  }
}
.contacts__email-adr:active {
  color: #3d3e3d;
  border-bottom: 2px solid #3d3e3d;
}
@media screen and (max-width: 1440px) {
  .contacts__email-adr:active {
    border-bottom: 1px solid #a3a6ac;
  }
}
.contacts__place {
  max-width: 490px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: bold;
  line-height: 29px;
  letter-spacing: 0.9px;
  color: #a3a6ac;
}
@media screen and (max-width: 1440px) {
  .contacts__place {
    max-width: 100%;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.6px;
    text-align: left;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 1280px) {
  .contacts__place {
    flex-direction: column;
  }
}
@media screen and (max-width: 940px) {
  .contacts__place {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
  }
}
.contacts__place-requisites {
  margin-right: 48px;
  margin-bottom: 28px;
}
@media screen and (max-width: 1200px) {
  .contacts__place-requisites {
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 940px) {
  .contacts__place-requisites {
    margin-bottom: 0;
    margin-right: 20px;
  }
}
.contacts__place-requisites span {
  text-transform: uppercase;
}
.contacts__place-adress span {
  text-transform: uppercase;
  letter-spacing: 3.6px;
}
@media screen and (max-width: 1200px) {
  .contacts__place-adress span {
    letter-spacing: 2.4px;
  }
}
.contacts__team {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  background: url(../img/ladys_contact.png) 65% 100% no-repeat;
  pointer-events: none;
}
@media screen and (max-width: 1840px) {
  .contacts__team {
    background-size: 60%;
    background-position-x: 75%;
  }
}
@media screen and (max-width: 1440px) {
  .contacts__team {
    background-size: 50%;
    background-position-x: 55%;
  }
}
@media screen and (max-width: 1200px) {
  .contacts__team {
    background-size: 60%;
    background-position-x: 65%;
  }
}
@media screen and (max-width: 1024px) {
  .contacts__team {
    background-size: 65%;
    background-position-x: 75%;
  }
}
@media screen and (max-width: 940px) {
  .contacts__team {
    position: relative;
    height: 300px;
    background: url(../img/ladys_contact-lg.jpg) 50% 100% no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 576px) {
  .contacts__team {
    order: -1;
    height: 72vw;
    background: url(../img/ladys_contact_mob.jpg) 45% 0 no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 400px) {
  .contacts__team {
    background: url(../img/ladys_contact_mob.jpg) 50% 0 no-repeat;
    background-size: cover;
  }
}
.contacts__map {
  position: relative;
  width: 595px;
  background-size: cover;
  overflow: hidden;
  flex-shrink: 595px;
}
@media screen and (max-width: 940px) {
  .contacts__map {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 576px) {
  .contacts__map {
    height: 128px;
  }
}
.map {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.main-footer {
  padding: 0 50px 2.91666667vw;
}
@media screen and (max-width: 1440px) {
  .main-footer {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .main-footer {
    padding: 0 16px 16px;
  }
}
.main-footer-content {
  height: 200px;
  display: flex;
  justify-content: space-between;
  background-color: #667e48;
  padding-left: 58px;
  padding-right: 58px;
}
@media screen and (max-width: 1440px) {
  .main-footer-content {
    height: 150px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (max-width: 768px) {
  .main-footer-content {
    align-items: center;
  }
}
@media screen and (max-width: 708px) {
  .main-footer-content {
    height: auto;
    flex-wrap: wrap;
    padding-top: 36px;
    padding-bottom: 44px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.footer__icon-container {
  display: none;
  flex-grow: 1;
}
@media screen and (max-width: 576px) {
  .footer__icon-container {
    display: block;
  }
}
.footer__icon-img {
  width: 49px;
  height: 49px;
  background: url(../img/phone_icon_mob.png) center no-repeat;
  background-size: contain;
  margin: auto;
  margin-bottom: 36px;
}
.footer__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 768px) {
  .footer__form {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer__form_text {
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1.05px;
  flex-basis: 460px;
}
@media screen and (max-width: 1440px) {
  .footer__form_text {
    font-size: 17px;
    line-height: 1.23em;
    letter-spacing: 0.85px;
    flex-basis: 256px;
    flex-grow: 1;
  }
}
@media screen and (max-width: 1024px) {
  .footer__form_text {
    font-size: 15px;
    line-height: 1.2em;
    letter-spacing: 0.75px;
  }
}
@media screen and (max-width: 768px) {
  .footer__form_text {
    margin: 0 auto 25px;
    flex-basis: 460px;
    text-align: center;
    font-size: 13px;
    line-height: 1.1em;
    letter-spacing: 0.65px;
  }
}
@media screen and (max-width: 576px) {
  .footer__form_text {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.21em;
    letter-spacing: 0.7px;
    flex-basis: 100%;
    margin: auto 16px;
    margin-bottom: 25px;
  }
}
.footer__form_mail {
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  padding-left: 25px;
  color: #a1a9b0;
}
@media screen and (max-width: 1440px) {
  .footer__form_mail {
    height: 46px;
    font-size: 15px;
    letter-spacing: 0.75px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer__form_mail {
    font-size: 16px;
    letter-spacing: 0.8px;
  }
}
@media screen and (max-width: 708px) {
  .footer__form_mail {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 576px) {
  .footer__form_mail {
    padding-left: 16px;
    height: 40px;
    font-size: 13px;
    letter-spacing: normal;
    margin-bottom: 16px;
  }
}
.footer__form_mail--kontainer {
  display: block;
  flex: 0 1 670px;
  margin: 0 3.5359116%;
}
@media screen and (max-width: 1440px) {
  .footer__form_mail--kontainer {
    flex-grow: 1;
    flex-basis: 296px;
    margin: 0 3.45188285%;
  }
}
@media screen and (max-width: 768px) {
  .footer__form_mail--kontainer {
    flex-grow: 0;
    margin: 0;
    margin-right: 3.45188285%;
  }
}
@media screen and (max-width: 708px) {
  .footer__form_mail--kontainer {
    width: 100%;
    flex-basis: 100%;
    margin: auto;
  }
}
.footer__form_btn {
  box-sizing: border-box;
  height: 64px;
  color: white;
  background-color: #667e48;
  font-size: 18px;
  letter-spacing: 3.6px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  flex-basis: 465px;
  border: 2px solid #fff;
}
.footer__form_btn:hover {
  background-color: #596e3f;
}
.footer__form_btn:active {
  background-color: #4c5e35;
}
@media screen and (max-width: 1440px) {
  .footer__form_btn {
    flex-basis: 256px;
    flex-grow: 1;
    height: 46px;
    font-size: 16px;
    letter-spacing: 3.2px;
  }
}
@media screen and (max-width: 1024px) {
  .footer__form_btn {
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 1em;
  }
}
@media screen and (max-width: 768px) {
  .footer__form_btn {
    font-size: 13px;
    letter-spacing: 2.6px;
  }
}
@media screen and (max-width: 576px) {
  .footer__form_btn {
    height: 40px;
    letter-spacing: 1.95px;
  }
}
.project-data {
  padding: 0 50px 2.91666667vw;
}
@media screen and (max-width: 1440px) {
  .project-data {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .project-data {
    padding: 0 16px 16px;
  }
}
.project-content {
  height: auto;
}
.project__table {
  border-collapse: collapse;
  background-color: #f5f6f8;
  width: 100%;
}
.table-title {
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  color: #353534;
  line-height: 1.05555556px;
  text-align: left;
  vertical-align: middle;
  background: #eef1f5;
}
@media screen and (min-width: 576px) {
  .table-title {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 26px;
    padding-left: 40px;
    padding-top: 9px;
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .table-title {
    font-size: 28px;
    letter-spacing: 1.4px;
    line-height: 28px;
    padding-left: 58px;
    padding-top: 14px;
    padding-bottom: 17px;
  }
}
.table-title--border-bottom {
  border-bottom: 4px solid #fff;
  border-top: 4px solid #fff;
}
@media screen and (min-width: 576px) {
  .table-title--border-bottom {
    border-bottom-width: 5px;
    border-top-width: 5px;
  }
}
.table-title--border-right {
  border-right: 4px solid #fff;
}
.table-title--right-column {
  width: 20%;
  text-align: center;
}
.table-list {
  display: list-item;
  list-style-position: outside;
  list-style-image: url(../img/bullet_1.png);
  padding-left: 2px;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.9px;
  color: #353534;
  line-height: 14px;
  text-align: left;
}
@media screen and (min-width: 576px) {
  .table-list {
    font-size: 17px;
    letter-spacing: 0.85px;
    line-height: 22px;
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 9px;
  }
}
@media screen and (min-width: 1440px) {
  .table-list {
    list-style-image: url(../img/bullet_3.png);
    font-size: 22px;
    letter-spacing: 1.1px;
    line-height: 28px;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 16px;
  }
}
.table-list span {
  vertical-align: super;
  font-size: 11px;
}
@media screen and (min-width: 576px) {
  .table-list span {
    font-size: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .table-list span {
    font-size: 13px;
  }
}
.table-list--border-bottom {
  border-bottom: 1px solid #fff;
}
@media screen and (min-width: 576px) {
  .table-list--border-bottom {
    border-bottom-width: 2px;
  }
}
.table-list--check {
  width: 20%;
  background: url(../img/check_icon.png) center 10px no-repeat;
  background-size: 20px ;
}
@media screen and (min-width: 576px) {
  .table-list--check {
    background-size: 25px ;
  }
}
@media screen and (min-width: 1440px) {
  .table-list--check {
    background-size: 34px;
    background-position-y: 14px;
  }
}
.table-list--bold {
  display: table-cell;
  font-weight: bold;
  padding-left: 16px;
}
@media screen and (min-width: 576px) {
  .table-list--bold {
    padding-left: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .table-list--bold {
    padding-left: 58px;
  }
}
.border-left {
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #fff;
}
@media screen and (min-width: 576px) {
  .border-left {
    border-left-width: 5px;
  }
}
@media screen and (min-width: 1440px) {
  .border-left {
    border-left-width: 8px;
  }
}
.for-bullet {
  width: 25px;
}
@media screen and (min-width: 576px) {
  .for-bullet {
    width: 53px;
  }
}
@media screen and (min-width: 1440px) {
  .for-bullet {
    width: 76px;
  }
}
.project-contact-us {
  display: flex;
  flex-direction: column;
  background: #f5f6f8;
  padding-top: 40px;
  padding-bottom: 44px;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 1440px) {
  .project-contact-us {
    padding-top: 96px;
    padding-bottom: 84px;
  }
}
.project-contact-us__text {
  margin: auto;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 1.21428571 em;
  margin-bottom: 17px;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .project-contact-us__text {
    font-size: 21px;
    letter-spacing: 1.05px;
    line-height: 1.19047619 em;
    margin-bottom: 22px;
    max-width: 380px;
  }
}
@media screen and (min-width: 1440px) {
  .project-contact-us__text {
    font-size: 21px;
    letter-spacing: 1.05px;
    line-height: 1.57142857 em;
    max-width: 570px;
    margin-bottom: 30px;
  }
}
.project-contact-us_btn {
  box-sizing: border-box;
  height: 64px;
  color: white;
  background-color: #667e48;
  font-size: 18px;
  letter-spacing: 3.6px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  display: block;
  vertical-align: middle;
  margin: auto;
  width: 100%;
  font-size: 13px;
  height: 40px;
  padding-top: 12px;
}
.project-contact-us_btn:hover {
  background-color: #596e3f;
}
.project-contact-us_btn:active {
  background-color: #4c5e35;
}
@media screen and (min-width: 576px) {
  .project-contact-us_btn {
    font-size: 18px;
    height: 64px;
    width: 380px;
    padding-top: 21px;
  }
}
@media screen and (min-width: 1440px) {
  .project-contact-us_btn {
    width: 570px;
  }
}
.project-header {
  padding: 0 50px 2.91666667vw;
}
@media screen and (max-width: 1440px) {
  .project-header {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .project-header {
    padding: 0 16px 16px;
  }
}
.project-header__content {
  width: 100%;
  height: calc(100vh - (112px + 50px));
  padding-top: 112px;
}
@media screen and (max-width: 1440px) {
  .project-header__content {
    height: calc(100vh - (70px + 34px));
  }
}
@media screen and (max-width: 576px) {
  .project-header__content {
    height: calc(100vh - (70px + 16px));
  }
}
@media screen and (max-width: 1440px) {
  .project-header__content {
    padding-top: 70px;
  }
}
.project-header__top {
  box-sizing: border-box;
  background-color: #eef1f5;
  height: 102px;
  padding-top: 23px;
  padding-left: 16px;
}
@media screen and (min-width: 576px) {
  .project-header__top {
    height: 134px;
    padding-top: 32px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .project-header__top {
    height: 225px;
    padding-top: 54px;
    padding-left: 58px;
  }
}
.project-header__title {
  margin-bottom: 6px;
}
.project-header__title-main {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
}
@media screen and (min-width: 576px) {
  .project-header__title-main {
    font-size: 30px;
    letter-spacing: 6px;
    margin-right: 17px;
  }
}
@media screen and (min-width: 1200px) {
  .project-header__title-main {
    font-size: 48px;
    letter-spacing: 9.6px;
    margin-right: 19px;
  }
}
.project-header__subtitle {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}
@media screen and (min-width: 576px) {
  .project-header__subtitle {
    font-size: 15px;
    letter-spacing: 3px;
  }
}
@media screen and (min-width: 1200px) {
  .project-header__subtitle {
    font-size: 28px;
    letter-spacing: 5.6px;
  }
}
.cost {
  font-size: 17px;
  color: #667e48;
  font-weight: bold;
  margin-right: 9px;
}
@media screen and (min-width: 576px) {
  .cost {
    font-size: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .cost {
    font-size: 40px;
  }
}
.standart {
  display: inline-block;
  position: relative;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 10px;
}
@media screen and (min-width: 576px) {
  .standart {
    font-size: 13px;
    letter-spacing: 1.3px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .standart {
    font-size: 24px;
    letter-spacing: 2.4px;
    margin-right: 28px;
  }
}
.standart__text {
  display: none;
  position: absolute;
  right: -366px;
  top: -10px;
  font-size: 12px;
  font-weight: normal;
  color: #3d3e3d;
  letter-spacing: 0.6px;
  line-height: 1.4;
  text-transform: initial;
  width: 300px;
  padding: 12px 16px;
  background-color: #FDFDFD;
}
@media screen and (max-width: 1200px) {
  .standart__text {
    top: -14px;
    font-size: 13px;
    letter-spacing: 0.65px;
  }
}
@media screen and (max-width: 620px) {
  .standart__text {
    top: -14px;
    right: -314px;
    width: 250px;
  }
}
@media screen and (max-width: 520px) {
  .standart__text {
    top: -10px;
    right: -260px;
    width: 200px;
  }
}
@media screen and (max-width: 410px) {
  .standart__text {
    top: 14px;
    right: -140px;
    width: 200px;
  }
}
.standart__text::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 0;
  border: 6px solid transparent;
  border-right: 6px solid #FDFDFD;
}
@media screen and (max-width: 410px) {
  .standart__text::before {
    left: 100px;
    top: -12px;
    border: 6px solid transparent;
    border-bottom: 6px solid #FDFDFD;
  }
}
.standart__what-is {
  position: absolute;
  display: flex;
  top: -12px;
  right: -17px;
  background-color: #c6c6c8;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (min-width: 576px) {
  .standart__what-is {
    top: -20px;
    right: -22px;
    height: 22px;
    width: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .standart__what-is {
    top: -14px;
    right: -21px;
    height: 22px;
    width: 22px;
  }
}
.standart__what-is:hover + .standart__text {
  display: block;
}
.standart__what-is span {
  color: #fff;
  margin: auto;
  letter-spacing: 0;
  cursor: pointer;
}
@media screen and (min-width: 576px) {
  .standart__what-is span {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */