html, body {
	padding: 0;
	margin: 0;
}

.relation {
	position: relative;
}

.relation__ratio {
	height: 0;
}

.relation__ratio-16x9 {
	padding-top: calc(9 / 16 * 100%);
}

.relation__ratio-4x3 {
	padding-top: calc(3 / 4 * 100%);
}

.relation__ratio-1x1 {
	padding-top: 100%;
}

.relation__content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* background: red; */
}

iframe {
	width: 100%;
}