<div class="relation">
  <div class="relation__ratio relation__ratio-16x9"></div>

  <!-- для видео гибкий контент HTML5 -->
  <video class="relation__content"  controls width="" height="" poster="" preload="none">
    <source src="video/video.mp4" type="video/mp4">
    <source src="video/video.webm" type="video/webm">
    <source src="video/video.ogv" type="video/ogg">
  </video>

</div>