
.video-responsive() {

	.relation {
		position: relative;
	

		&__ratio-16x9 {
			padding-top: 9 / 16 * 100%;
		}

		&__content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		}
	}

}