// плавная анимация элементов при изменении размеров окна броузера
* { 
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

body, html {
    .font-size-text-normal;
    @media screen and (max-width: @media-xxl) {
        font-size: @font-size-normal-xl;
      }       
    // height: 100%;
}
a {
    color: @font-color-main;
}

@import "mixins/mixins.less";
@import "mixins/video-responsive.less";

@import "global/forms.less";
@import "global/reset.less";
@import "global/fonts.less";
@import "global/start_layouts";
@import "global/layout";

@import "variables/variables";

@import "blocks/main-header.less";
@import "blocks/main-slider.less";
@import "blocks/slider-items.less";
@import "blocks/main-video.less";

@import "blocks/main-finished-projects.less";
@import "blocks/main-customer-project.less";
@import "blocks/main-process";
@import "blocks/main-payment.less";
@import "blocks/main-contacts.less";
@import "blocks/main-footer.less";

@import "blocks/project-table.less";
@import "blocks/project-header.less";