@img: "../img/";
@img1: "img/";

// увеличенное расстояние между буквами 
@letterSpacinngExt: 200;

// нормальное расстояние между буквами
@letterSpacinngNorm: 50;

// зелёный #667e48
@fontColorTitleText: #667e48;

// отступ слева (и справа) белые вертикальные полоски
@paddingGlobal-xxxl: 58px; // отступ слева в элементах 1920
@paddingGlobal-xxl: 40px; // отступ слева в элементах 1024, 1440
@paddingLeftGlobal: @paddingGlobal-xxxl; // 1920px unit(@paddingGlobal-xxxl/1810px)*100%
@paddingLeftGlobal-xxl: 34px; // 1440px
@paddingLeftGlobal-sm: 16px; // 576px

// отступы между секциями сверху и снизу
@paddingTopBottomSection: 50px;
@paddingTopBottomSection-xxl: 34px;
@paddingTopBottomSection-sm: 16px; // 576px также справа и слева

//  светло-серый цвет 1 №eef1f5
@colorGrayLight1: #eef1f5;

//  светло-серый цвет 2
@colorGrayLight2: rgb(163, 166, 172); 

//  светло-серый цвет 2 прозрачный
@colorGrayLight2trp: rgba(163, 166, 172, 0);

// светло-серый цвет 3 #dce3ea 
@colorGrayLight3: #dce3ea;

// светло-серый цвет 4 #eef1f5 project table title
@colorGrayLight4: #eef1f5;

// светло-серый цвет 5 #f5f6f8 project table
@colorGrayLight5: #f5f6f8;

// фон контента секции/страницы  = #f5f6f8
@colorSectionFon: rgb(245, 246, 248);

// цвет кнопки выбора файла для отправки #a0a4a8
@colorGrayLight6: rgb(160, 164, 168);

// изменение яркости элемента при наведении мышки (hover)
@color_change_hover: brightness(.7);

// градиент для картинок готовых проектов
@gradientFinishedProjects: linear-gradient(8deg, rgba(117,136,93,1) 0%, rgba(117,136,93,1) 19%, rgba(117,136,93,0) 41%, rgba(117,136,93,0) 43%);

//  градиент под текст для фото людей
@gradientPeople: linear-gradient(0deg, rgba(98,130,183,0.82) 0%, rgba(98,130,183,0.82) 15%, rgba(98,130,183,0.5) 30%, rgba(98,130,183,0) 60%, rgba(98,130,183,0) 100%);

// для медиа-запросов точки перехода
@media-xxxl: 1920px;
@media-xxl: 1440px;
@media-xl: 1200px; 
@media-xlg: 1024px;
@media-lg: 992px;
@media-md: 768px;
@media-sm: 576px;

// Customer project
// Колонки
@flexBasisCustomer: 878px; // ширина колонок 1920 макет
@flexBasisCustomer-xxl: 458px; // ширина колонок 1024 макет
@paddingTop: 197px; // верхний внутренний отступ колонок 1920 макет
@paddingTopCustomer-xxl: 107px; // верхний внутренний отступ колонок 1024 макет
@paddingTopCustomer-sm: 40px; // верхний внутренний отступ колонок 1024 макет


// отступ снизу полей формы
@marginBottomField: 28px; // 1920
@marginBottomField-xxl: 16px;  // 1024
@marginBottomField-sm: 16px;  // 576px


// отступ плэйсхолдера слева в форме
@paddingLeftFormPlaceholder: 25px; // 1920
@paddingLeftFormPlaceholder-xxl: 18px; // 1024
@paddingLeftFormPlaceholder-sm: 15px; //  576px