@fontFamily: 'PT Sans Narrow', sans-serif; // основной фонт

@font-color-main: #3d3e3d;
@font-color-hover: #bccfde;
@font-color-active: #bccfde;
@font-color-form-placeholder: #a1a9b0; // цвет шрифта в плайсхолдер
@font-color-project__title: #353534; // #353534
@font-color-project__text: @font-color-project__title; // #353534

@letter-spacing-menu: 200;

@font-size-normal: 21px;
@font-size-normal-xl: 14px; 
@letter-spacing: (@letterSpacinngNorm*@font-size-normal/1000);

.font() { // основной фонт
font-family: @fontFamily;
color: @font-color-main;
}

// фонт для текстовых заголовков
.font-title-for-text() { 
  font-family: @fontFamily;
  color: #667e48;
}

// фонт для заголовков секций\разделов\экранов
.font-title-for-section() { 
  font-family: @fontFamily;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 48px*@letterSpacinngExt/1000;
  text-transform: uppercase;
  @media screen and (max-width: @media-xxl){ // 1440px
    font-size: 30px;
    letter-spacing: 30px*160/1000;
  }
  @media screen and (max-width: @media-sm) { // 576px
    font-size: 28px;
    line-height: 1.21em;
    letter-spacing: 28px*200/1000;
    width: 50%;
  }
}

.font-size-text-normal() {
  .font();
  font-size: @font-size-normal;
    @media screen and (max-width: @media-xxl) { // 1440px
      font-size: @font-size-normal-xl;
    }
  // line-height: 33px/21px;
  font-weight: normal;
  // letter-spacing: @letter-spacing;
  // letter-spacing: 1.05px;
}

// шрифтовые стили меню
.font-menu() {
  .font();
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: @font-size-normal*@letterSpacinngExt/1000;
  // letter-spacing: 4.2px;
}

// основное расстояние между буквами
.letter-spacing-normal() { 
  letter-spacing: @letterSpacinngNorm*21px/1000;
}




// // расширенное расстояние между буквами
// .letter-spacing-normal() { 
//   letter-spacing: @letter-spacing-menu*@font-size-normal/1000;
// }