// общий стиль для кнопки

.btn() {
  box-sizing: border-box;
  height: 64px;
  color: white;
  background-color: @fontColorTitleText;
  font-size: 18px;
  letter-spacing: @letterSpacinngExt*18px/1000;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  &:hover {
    background-color: darken(@fontColorTitleText, 5%);
  }
  &:active {
    background-color: darken(@fontColorTitleText, 10%);
  }
}

.bth-hover() {
  background-color: darken(@fontColorTitleText, 5%);
} 

.btn-active() {
  background-color: darken(@fontColorTitleText, 10%);
}
