@wrapperPaddingLR: unit(56xp/1920px)*100vw; //56xp/1920px 2.92

// вертикальная и горизонтальная центровка контента страниц
.flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
}

// обёртка меню
.wrapper() {
  // .gl1;
  // width: 100%;
  padding-left: @wrapperPaddingLR;
  padding-right: @wrapperPaddingLR;
}

// обёртка -  белый контур вокруг контента экранов
.wrapper-contur() {
  padding: 0 @paddingTopBottomSection @wrapperPaddingLR;
  @media screen and (max-width: @media-xxl) { // 1440px
    padding: 0 @paddingTopBottomSection-xxl @paddingLeftGlobal-xxl; // 0 34px 34px 34px
  }
  @media screen and (max-width: @media-sm) { // 576px
    padding: 0 @paddingTopBottomSection-sm @paddingLeftGlobal-sm; // 0 16px 16px 16px 576px
   }
}

// высота контента
.wrapper-content() {
width: 100%;
// height: 100%;
// width: 100vw;
height: ~"calc(100vh - (112px + 50px))"; // высота экрана с учётом высоты меню и отступом снизу
  @media screen and (max-width: @media-xxl) { // 1440px
    height: ~"calc(100vh - (70px + 34px))";
  }
  @media screen and (max-width: @media-sm) { // : 576px
    height: ~"calc(100vh - (70px + 16px))";
  }
}

// повторяющийся отступ слева 
.paddingLeftGlobal() {
  padding-left: @paddingLeftGlobal;
}

//  скрытие контента
.show-none() {
  display: none;
} 