html, body, h1, h2, h3, h4, p, button, fieldset, input, ul, li, td, th  {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

// сброс настроек ссылок
a {
  text-decoration: none;
  outline: none;
}

// сброс настроек button
button {
  // display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
}

input, select, textarea, fieldset {
  border: none;
  outline: none;
}
