// /*======================================
//  Системное оформление - не изменять
// =======================================*/

.position() {
  position: relative;
}

.gl0() {
  .position;
  box-shadow: inset 0 0 0 2px blue;
  background: rgba(0, 0, 255, .1);
}

.gl1() {
  .position;
  box-shadow: 0 0 0 2px green;
  background: rgba(0, 128, 0, .1);
}

.gl2() {
  .position;
  box-shadow: 0 0 0 2px rgb(255, 45, 82);
  background: rgba(255, 45, 82, .1);
}

.gl3() {
  .position;
  box-shadow: 0 0 0 2px rgb(234, 255, 45);
  background: rgba(234, 255, 45, .1);
}

.gl4() {
  .position;
  box-shadow: 0 0 0 2px rgb(197, 254, 48);
  background: rgba(184, 217, 56, 0.10);
}