.main-header {
  // .gl0;
  .wrapper-contur; // белый контур вокруг контента экранов padding
  padding-top: 112px;// высота меню
  @media screen and (max-width: @media-xxl) { // 1440px
    padding-top: 70px; // высота меню
  }
}

.main-slider {
  // .gl1;
  &__content {
    // .gl1;
    .wrapper-content; // height: 100vh;
    overflow: hidden;
    position: relative;
  }
  &__fon {
    // .gl2;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    &--MZ { // Мария Залите
      background-image: url("@{img}Maria_Zalite.jpg");
      background-position: 80% top;
      background-color: #a6b3c6;
      .show-none; // скрытие контента слайдера
      @media screen and (max-width: 1170px) {
        background-image: url("@{img}Maria_Zalite_1170.jpg");
      }
      @media screen and (max-width: 800px) {
        background-image: url("@{img}Maria_Zalite_800.jpg");
        background-position: 50% top;
      }
    }  
    &--VA { // Виктория Арефьева
      background-image: url("@{img}Victorija_Arefjeva.jpg");
      background-position: 20% top;
      background-color: #A0BCCB;
      .show-none; // скрытие контента слайдера
      @media screen and (max-width: 1170px) {
        background-image: url("@{img}Victorija_Arefjeva_1170.jpg");
      }
      @media screen and (max-width: 800px) {
        background-image: url("@{img}Victorija_Arefjeva_800.jpg");
        background-position: 50% top;
      }
    }  
    &--EB { // Елизавета Боронина
      background-image: url("@{img}Elizaveta_Boronina.jpg");
      background-position: 20% top;
      background-color: #A0C6CB;
      // .show-none; // скрытие контента слайдера
      @media screen and (max-width: 1170px) {
        background-image: @gradientPeople, url("@{img}Elizaveta_Boronina_1170.jpg");
      }
      @media screen and (max-width: 800px) {
        background-image: @gradientPeople, url("@{img}Elizaveta_Boronina_800.jpg");
        background-position: 50% top;
      }
    }  
    &--LL { // Людмила Лёзова
      background-image: url("@{img}Ludmila_Lezova.jpg");
      background-position: 20% top;
      background-color: #A0C6CB;
      .show-none; // скрытие контента слайдера
      @media screen and (max-width: 1170px) {  // 1440px
        background-position: 25% top;
        background-image: url("@{img}Ludmila_Lezova_1170.jpg");
      }
      @media screen and (max-width: 800px) {  // 1440px
        background-position: 25% top;
        background-image: url("@{img}Ludmila_Lezova_800.jpg");
        background-position: 50% top;
      }
    }  
  }
}
.promo {
  // .gl3;
  position: absolute;
  color: rgb(255, 255, 255);
  top: unit(540px/1920px)*100vh; 
  @media screen and (max-width: @media-xxl) {  // 1440px
    top: unit(230px/1024px)*100vh;
  }
  @media screen and (max-width: 1170px) {  
    top: auto;
    bottom: 8vh;
  }
  @media screen and (max-width: @media-md) { // 768px;
    top: auto;
    bottom: 8.5vh;
  }
  @media screen and (max-width: @media-sm) { // 576px;
    top: auto;
    bottom: 5vh;
  }
  // @media screen and (max-width: @media-sm) { // 576px;
  //   top: 45vh;
  //   width: 100%;
  //   padding-left: @paddingLeftGlobal-sm;
  //   padding-right: @paddingLeftGlobal-sm;
  // }
  // @media screen and (max-width: 320px) {
  //   bottom: 30vh;
  //   width: 100%;
  //   padding-left: @paddingLeftGlobal-sm * 2;
  //   padding-right: @paddingLeftGlobal-sm * 2;
  // }
  
  &--MZ { // Мария Залите
    left: unit(317px/1920px)*100vw;
    width: 490px;
    @media screen and (max-width: @media-xxl) { // 1440px
      .show-none; 
      left: unit(86px/956px)*100vw; 
      width: 396px;
    }
    @media screen and (max-width: 1170px) { 
      // width: 80%;
      right: 50%;
      transform: translateX(50%);
    }
  }
  &--VA {  // Виктория Арефьева
    right: unit(211px/1810px)*100%;
    width: 644px;
    @media screen and (max-width: @media-xxl) { // 1440px
      right: unit(73px/956px)*100vw; 
      width: 396px;
    }
    @media screen and (max-width: 1170px) { 
      // width: 80%;
      right: 50%;
      transform: translateX(50%);
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (max-width: @media-sm) { // 576px;
      width: 100%;
    }
    @media screen and (max-width: 320px) {    }
  }
  &--EB {  // Елизавета Боронина
    right: unit(140px/1920px)*100vw; 
    width: unit(700px/1810px)*100%;
    @media screen and (max-width: @media-xxl) { // 1440px
      right: unit(73px/956px)*100vw; 
      width: 396px;
    }
    @media screen and (max-width: 1170px) { 
      // width: 80%;
      right: 50%;
      transform: translateX(50%);
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (max-width: @media-sm) { // 576px;
      width: 100%;
    }
    @media screen and (max-width: 320px) {    }
  }
  &--LL {  // Людмила Лёзова
    right: unit(150px/1920px)*100vw; 
    width: unit(795px/1810px)*100%;
    @media screen and (max-width: @media-xxl) { // 1440px
      right: unit(73px/956px)*100vw; 
      width: 396px;
    }
    @media screen and (max-width: 1170px) {  
      // width: 80%;
      right: 50%;
      transform: translateX(50%);
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (max-width: @media-sm) { // 576px;
      width: 100%;
    }
    @media screen and (max-width: 320px) {
    }
  }
}

.promo {
  &__header {
    .letter-spacing-normal;
    margin-bottom: 35px; 
    @media screen and (max-width: @media-xxl) {
      margin-bottom: 27px; 
    }
    @media screen and (max-width: 768px) {
      margin-left: @paddingLeftGlobal-xxl;
      margin-right: @paddingLeftGlobal-xxl;
    }
    @media screen and (max-width: @media-sm) { // 576px;
      margin-left: @paddingLeftGlobal-sm;
      margin-right: @paddingLeftGlobal-sm;
    }
    
    &-name {
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;
      @media screen and (max-width: @media-xxl) {
        font-size: 26px;
        letter-spacing: 26px*@letterSpacinngNorm/1000;
      }
      @media screen and (max-width: @media-sm) { // 576px
        font-size: 17px;
        letter-spacing: 17px*@letterSpacinngNorm/1000;
      }
    }
    
    &-position {
      font-size: 22px;
      span {
        text-transform: uppercase;
       }
      @media screen and (max-width: @media-xxl) {
        font-size: 18px;
        letter-spacing: 18px*@letterSpacinngNorm/1000;
      }
      @media screen and (max-width: @media-sm) { // 576px
        font-size: 12px;
        letter-spacing: 12px*@letterSpacinngNorm/1000;
      }
    }
  }

  &__footer {
    position: relative;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 26px*@letterSpacinngNorm/1000;
    text-indent: 1em;
    @media screen and (max-width: @media-xxl) { // 1440px
      font-size: 21px;
      line-height: 30px;
      letter-spacing: normal;
    }
    @media screen and (max-width: 768px) {
      margin-left: @paddingLeftGlobal-xxl;
      margin-right: @paddingLeftGlobal-xxl;
    }
    @media screen and (max-width: @media-sm) { // 576px
      font-size: 15px;
      letter-spacing: 15px*@letterSpacinngNorm/1000;
      line-height: 19px;
    }
    @media screen and (max-width: @media-sm) { // 576px;
      margin-left: @paddingLeftGlobal-sm;
      margin-right: @paddingLeftGlobal-sm;
    }

    &:before {    
      content: open-quote; //открытая кавычка
      font-size: 120px;
      line-height: 60px;
      position: absolute;
      left: -45px;
      top: 25px;
      @media screen and (max-width: @media-xxl) { // 1440
        font-size: 96px;
        line-height: 48px;
        left: -39px;
        top: 20px;
      }
      @media screen and (max-width: @media-sm) { // 576px
        font-size: 60px;
        line-height: 30px;
        left: -25px;
        top: 12px;
      }
    }
  }
}