.main-customer-project {
  // .gl0;
  .wrapper-contur;
}

.customer-project-content {
  // .gl0;
  .wrapper-content;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 940px) {
    // height: auto;
  }
  @media screen and (max-width: 740px) {
    flex-wrap: wrap;
    height: auto;
  }
}

// обертка блока формы
.customer-form {
  // .gl1;
  flex-basis: @flexBasisCustomer;
  max-width: 878px;
  padding-top: 70px;
  padding-left: @paddingLeftGlobal;
  padding-right: @paddingLeftGlobal;
  margin-right: unit(56px/1810px)*100%; // расстояния до соседнего блока, общая ширина двух блоков в макете 1810px
  background-color: @colorGrayLight3;
  @media screen and (max-width: @media-xxl) { // 1440px
    flex-basis: @flexBasisCustomer-xxl;
    flex-grow: 1;
    padding-top: 36px;
    padding-left: @paddingLeftGlobal-xxl;
    padding-right: @paddingLeftGlobal-xxl;
    margin-right: unit(36px/956px)*100%; // расстояния до соседнего блока, общая ширина двух блоков макете 956px
  }
  @media screen and (max-width: @media-xlg) { // 1024px;
    padding-bottom: 50px;
  }
  @media screen and (max-width: 740px) {
    margin-right: auto;
    padding-top: @paddingTopCustomer-sm;
    // margin-bottom: @paddingTopBottomSection-xxl;
  }
  @media screen and (max-width: @media-sm) { // 576px
    margin-right: auto;
    padding-top: @paddingTopCustomer-sm;
    padding-left: @paddingTopBottomSection-sm;
    padding-right: @paddingTopBottomSection-sm;
  }
  
  // header формы
  &__header {
    // .gl2;
    margin-bottom: 53px;
    @media screen and (max-width: @media-xxl) { // 1440px
      margin-bottom: 23px;
    }
  }

  &__header-title { // заголовок страницы
    // .gl3;
    .font-title-for-section;
    margin-bottom: 6px;
    @media screen and (max-width: @media-xxl) { // 1440px
      margin-bottom: -1px;
    }
    @media screen and (max-width: @media-sm) { // 576px
      margin: auto;
      text-align: center;
      margin-bottom: 4px;
      width: 100%;
    }
  }

  &__header-subtitle {
    // .gl3;
    font-size: 18px;
    .letter-spacing-normal; 
    @media screen and (max-width: @media-xxl) { // 1440px
      font-size: 14px;
      letter-spacing: 14px*50/1000;
    }
    @media screen and (max-width: @media-sm) { // 576px
      line-height: 1.29em;
      margin: auto;
      text-align: center;
      min-width: 50%;
    }
  }
}

//  форма
.customer-form {
  &__fieldset-short { // блок коротких полей ввода
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -4%;
    &__pair {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
    }
  }

  &__container-field { // блок полей формы
    position: relative;
    min-width: 46%; // минимальная ширина поля ввода ?
    height: 64px;
    flex-grow: 1;
    margin-right: 4%;
    margin-bottom: @marginBottomField; // отступ снизу полей формы 1920
    @media screen and (max-width: @media-xxl) {
      height: 46px;
      flex-basis: 47%;
      margin-bottom: @marginBottomField-xxl; // отступ снизу полей формы 1024
    }
    @media screen and (max-width: @media-sm) { // 576px
      min-width: auto; // минимальная ширина поля ввода ?
      height: 48px;
      flex-basis: 100%;
    }
  }

  &__field { // поля формы input
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;

    font-size: 18px;
    font-weight: bold;
    letter-spacing: @letterSpacinngNorm*18px/1000;
    color: @font-color-form-placeholder;

    padding-left: @paddingLeftFormPlaceholder; // 25px отступ плэйсхолдера слева
    border: none;
    outline: none;
    @media screen and (max-width: @media-xxl) { // 1440px
      font-size: 15px;
      letter-spacing: @letterSpacinngNorm*15px/1000;
      padding-left: @paddingLeftFormPlaceholder-xxl; // 18px отступ плэйсхолдера слева
    }
    @media screen and (max-width: @media-sm) { // 576px
      font-size: 14px;
      letter-spacing: 100*14px/1000;
      padding-left: @paddingLeftFormPlaceholder-sm; // отступ плэйсхолдера слева
    }
  }
}

.textarea { // блок поля ввода текста в форме
  width: 100%;
  height: 166px;
  margin-bottom: @marginBottomField; // отступ снизу полей формы 1920
  @media screen and (max-width: @media-xxl) {
    height: 77px;
    margin-bottom: @marginBottomField-xxl; // отступ снизу полей формы 1024
  }
  &__field { // поле ввода текста в форме
    resize: none;
    padding-top: 22px;
    @media screen and (max-width: @media-xxl) { // 1440px
      padding-top: 16px;
    }
    @media screen and (max-width: @media-sm) { // 576px
      padding-top: 10px;
    }
  }
}
// стилизация placeholder
textarea::placeholder,
input::placeholder {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: @letterSpacinngNorm*18px/1000;
  color: @font-color-form-placeholder;
  @media screen and (max-width: @media-xxl) { // 1440px
    font-size: 15px;
    letter-spacing: @letterSpacinngNorm*15px/1000;
  }
  @media screen and (max-width: @media-sm) { // 576px
    font-size: 14px;
    letter-spacing: 100*14px/1000;
    padding-left: @paddingLeftFormPlaceholder-sm; // отступ плэйсхолдера слева
  }
}

// стилизация select option
.select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: @font-color-form-placeholder;
  cursor: pointer;

  // стилизация поля выбора страны
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    width: 100%; // закрываем справа нативную стрелку 
    height: 100%;

    pointer-events: none;
    cursor: pointer;

    background: url("@{img}select_arrow.png") 93% 52% no-repeat; // стрелочка справа
    background-color: #FFFFFF;
    &:hover {
      background-image: url("@{img}select_arrow_hover.png");
      filter: brightness(.8);
    }
    @media screen and (max-width: @media-xxl)  { // 1440px
      background-size: auto 24%;
    }
  }
}

  // стилизация select option выбранного option
.select__option {
  height: 30px;
  border: none;
  outline: none;
  padding-top: 8px;
  padding-left: @paddingLeftFormPlaceholder; // 25px отступ плэйсхолдера слева
  line-height: 30px;
  cursor: pointer;
  @media screen and (max-width: @media-xxl) { // 1440px
    height: 28px;
    padding-left: @paddingLeftFormPlaceholder-xxl; // 18px отступ плэйсхолдера слева
    line-height: 28px;
  }
  @media screen and (max-width: @media-sm) { // 1440px
    height: 28px;
    padding-left: @paddingLeftFormPlaceholder-sm; // отступ плэйсхолдера слева
    line-height: 28px;
  }
}

.option-first {
  .select__option;
}

// стилизация прикрепления файла
.form__input-file {
  display: block;
  position: relative; // Даем возможность делать позиционирование, внутри данного элемента
  // overflow: hidden; // Все что выходит за пределы - скрываем
  background: url("@{img}input_file_icon.png") 93% 50% no-repeat;
  background-color:  @colorGrayLight6;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  letter-spacing: @letterSpacinngNorm*18px/1000;
  &:hover {
    background-color: darken(@colorGrayLight6, 10%);
  }
  &active {
    background-color: darken(@colorGrayLight6, 20%);
  } 
  
  @media screen and (max-width: @media-xxl) { // 1440px
    font-size: 15px;
    letter-spacing: @letterSpacinngNorm*15px/1000;
    line-height: 13px;
    background-size: auto 40%;
  }
}

.input-file {
  // Растягиваем label на всю возможную площадь блока .customer-form__container-field
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding-left: @paddingLeftFormPlaceholder; // 25px отступ плэйсхолдера слева 1920
  @media screen and (max-width: @media-xxl) { // 1440px
    padding-left: @paddingLeftFormPlaceholder-xxl; // 18px отступ плэйсхолдера слева 1024
  }
  &-field {
    display: none; // скрываем настоящий Input File
  }
  &-text {
    width: 70%;
    @media screen and (max-width: @media-xxl) { // 1440px
      width: 75%;
    }
    @media screen and (max-width: @media-xlg) { // 1024px
      width: 60%;
    }
  }
}
// end стилизация прикрепления файла

// стилизация кнопки
.button-form {
  .btn();
  display: block;
  width: 100%;
  @media screen and (max-width: @media-xxl) { // 1440px
    height: 46px;
    font-size: 16px;
    letter-spacing: 16px*150/1000;
  }
  @media screen and (max-width: @media-xxl) { // 576px
    height: 48px;
    font-size: 14px;
    letter-spacing: 14px*150/1000;
  }
}

// ============= как пользоваться формой ==================
.form-use {
  // .gl1;
  flex-basis: @flexBasisCustomer; // 878px ширина колонки
  padding-top: @paddingTop;
  padding-right: unit(68px/1810px)*100%; // 68px внутренний боковой отступ колонки 1920 макет
  padding-left: unit(68px/1810px)*100%; // 68px внутренний боковой отступ колонки 1920 макет
  background-color: @colorGrayLight1;
  @media screen and (max-width: @media-xxl) { // 1440px
    flex-basis: @flexBasisCustomer-xxl; // 458px ширина колонки
    flex-grow: 1;
    padding-top: @paddingTopCustomer-xxl; // верхний внутренний отступ колонок 1024 макет
    padding-right: unit(39px/956px)*100%; // 39px внутренний боковой отступ колонки 1024 макет
    padding-left: unit(39px/956px)*100%; // 39px внутренний боковой отступ колонки 1024 макет
  }
  @media screen and (max-width: 740px) {
    flex-basis: 100%;
    padding-bottom: 62px;
    padding-top: 70px;
    padding-left: @paddingLeftGlobal-xxl; 
    padding-right: @paddingLeftGlobal-xxl;
    margin-top: @paddingTopBottomSection-xxl;
  }
  @media screen and (max-width: @media-sm) { // 576px
    padding-top: 41px;
    padding-top: @paddingTopCustomer-sm; // верхний внутренний отступ колонок 320 макет
    padding-right: @paddingLeftGlobal-sm; // 16px внутренний боковой отступ колонки 320 макет
    padding-left: @paddingLeftGlobal-sm; // 16px внутренний боковой отступ колонки 320 макет
    margin-top: @paddingTopBottomSection-sm;
  }

   p > span {
    text-transform: uppercase;
  }

  &__title {
    .font-title-for-text;
    font-size: 28px;
    letter-spacing: 28px*@letterSpacinngExt/1000;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 67px;
    @media screen and (max-width: @media-xxl) {
      font-size: 19px;
      letter-spacing: 19px*@letterSpacinngExt/1000;
      margin-bottom: 32px;
    }
    @media screen (max-width: @media-sm) {
      font-size: 18px;
      letter-spacing: 18px*@letterSpacinngExt/1000;
    }
  }
  &__text {
    line-height: 33px;
    letter-spacing: @letterSpacinngNorm;
    margin-bottom: 32px;
    @media screen and (max-width: @media-xxl) {
      font-size: 17px;
      line-height: 26px;
      margin-bottom: 17px; 
    }   
    @media screen and (max-width: @media-sm) {
      font-size: 14px;
      line-height: 1.29em;
      margin-bottom: 14px; 
    }   
    
    &-important {
      font-weight: bold;
      @media screen and (max-width: @media-xxl) {
        font-size: 17px;
        line-height: 26px;
        margin-bottom: 17px; 
      }   
      @media screen and (max-width: @media-sm) {
        font-size: 14px;
        line-height: 1.29em;
        margin-bottom: 14px; 
      }   
    }
  }
}
