.main-finished-projects {
	// .gl0;
	.wrapper-contur;
}

.finished-projects-content {
	// .gl1;
	.wrapper-content;
	height: auto;
	@media screen and (max-width: @media-xxl) {
		height: auto;
	}
}

// header страницы Готовые проекты
.finished-projects-header {
	// .gl1;
	width: 100%;
	height: 187px;
	background-color: @colorGrayLight1;
	display: flex;
	align-items: center;
	margin-bottom: 50px; // отступ до блока всех готовых проектов
	@media screen and (max-width: @media-xxl) {
		height: 182px;
	}
	@media screen and (max-width: @media-xlg) { // 1024px
		margin-bottom: 5%; // отступ до блока всех готовых проектов		
	}	
	@media screen and (max-width: @media-lg) { // 992px
		margin-bottom: 6%; // отступ до блока всех готовых проектов		
	}	
	@media screen and (max-width: @media-sm) { // 576px
		margin-bottom: 16px; // отступ до блока всех готовых проектов		
	}	

	&__title { // 
		// .gl2;
		padding-left: @paddingLeftGlobal;
		@media screen and (max-width: @media-xxl) {
			padding-left: @paddingLeftGlobal-xxl;
		}
		@media screen and (max-width: @media-sm) { // 576px
			padding-left: 0;
			text-align: center;
			margin: auto;
		}
	}

	&__title-main { // заголовок Готовые проекты
		// .gl3;
		display: inline-block;
		.font-title-for-section;
		margin-right: 75px;
		@media screen and (max-width: @media-xxl) {
			margin-right: 14px;				
		}
		@media screen and (max-width: @media-sm) { // 576px
			display: block;
			margin-right: auto;
			max-width: 100%;
			text-align: center;
			margin: auto;
			margin-bottom: 4px;
		}
	}
	
	&__subtitle {
		font-size: 18px;
		letter-spacing: @letterSpacinngNorm*18px/1000;
		@media screen and (max-width: @media-xxl) {
			font-size: 14px;
			letter-spacing: @letterSpacinngNorm*14px/1000;
			display: inline-block;
		}
		@media screen and (max-width: @media-sm) { // 576px
			display: block;
			text-align: center;
			margin: auto;
		}
	}
}
// end header страницы Готовые проекты

// стили для одного готового проекта
.finished-project {

	// контейнер всех готовых проектов
	&-main {
		// .gl2;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-content: space-between;
		justify-content: space-between;
		margin-top: -50px; // убраем верхний отступ у блоков
		@media screen and (max-width: @media-xxl) {
			// margin-top: -34px; // убраем верхний отступ у блоков
		}
		@media screen and (max-width: @media-lg) { // 992px
		}
		@media screen and (max-width: @media-sm) { // 576px
			margin-top: -@paddingLeftGlobal-sm; // убраем верхний отступ у блоков
		}
	}
	
	&-item { // один готовый проект
		// .gl3;
		position: relative;
		flex: 0 1 unit(570px/1810px)*100%; // горизонтальный размер блока
		// display: block;
		max-width: 570px; //проверить! горизонтальный размер блока
		height: 320px; // вертикальный размер блока
		max-height: 320px; // вертикальный размер блока
		text-decoration: none;
		color: rgb(255, 255, 255);
		margin-top: 50px; // вертикальный отступ между блоками
		@media screen and (max-width: @media-xxl) { // 1440px
			// flex: 1 0 unit(296px/956px)*100%; // горизонтальный размер блока
			flex-grow: 1;
			flex-basis: 500px;
			max-width: 31.5%; //проверить! горизонтальный размер блока
			height: 207px; // вертикальный размер блока
			max-height: 207px; // вертикальный размер блока
			margin-top: 34px; // вертикальный отступ между блоками
		}
		@media screen and (max-width: @media-lg) { // 992px
			flex-basis: 300px;
			max-width: 48%;
		}
		@media screen and (max-width: @media-sm) { // 576px
			// flex-basis: 250px;
			flex-shrink: 0;
			max-width: 100%;
			height: 330px;
			margin-top: @paddingLeftGlobal-sm; // вертикальный отступ между блоками
		}

		// Картинки проектов
		// picture 1
		&--pict1 {
			background: @gradientFinishedProjects, url("@{img}sovremennost.jpg") center no-repeat; // градиент вместе с картинкой
		}
		// picture 2
		&--pict2 {
			background: @gradientFinishedProjects, url("@{img}legkost.jpg") center no-repeat; // градиент вместе с картинкой
		}
		// picture 3
		&--pict3 {
			background: @gradientFinishedProjects, url("@{img}celeustremlennoct.jpg") center no-repeat; // градиент вместе с картинкой
		}
		// picture 4
		&--pict4 {
			background: @gradientFinishedProjects, url("@{img}uspeshnost.jpg") center no-repeat; // градиент вместе с картинкой
		}
		// picture 5
		&--pict5 {
			background: @gradientFinishedProjects, url("@{img}krasochnost.jpg") center no-repeat; // градиент вместе с картинкой
		}
		// picture 6
		&--pict6 {
			background: @gradientFinishedProjects, url("@{img}celeustremlennoct.jpg") center no-repeat; // градиент вместе с картинкой
		}
	}

	//  подпись к блоку одного проекта
	&-title {
		// .gl4;
		position: absolute;
		bottom: 23px;
		left: 0;
		padding-left: unit(@paddingGlobal-xxxl/570px)*100%; // 1440px / ширина блока одного готового проекта
		text-decoration: none;
		@media screen and (max-width: @media-xxl) { // 1440px
			bottom: 15px;
			padding-left: unit(@paddingGlobal-xxl/296px)*100%; // 1440px / ширина блока одного готового проекта
		}
		@media screen and (max-width: @media-sm) { // 576px
			bottom: 11px;
			padding-left: @paddingLeftGlobal-sm; // 576px / ширина блока одного готового проекта
		}
	}

	&-title__name {
		font-size: 22px;
		font-weight: bold;
		letter-spacing: @letterSpacinngExt*22px/1000;
		text-transform: uppercase;
		@media screen and (max-width: @media-xxl) { // 1440px
			font-size: 12px;
			letter-spacing: @letterSpacinngExt*12px/1000;
		}
		@media screen and (max-width: @media-xxl) { // 576px
			font-size: 14px;
			letter-spacing: @letterSpacinngExt*14px/1000;
		}
	}
	
	&-title__area {
		font-size: 14px;
		font-weight: bold;
		letter-spacing: @letterSpacinngExt*14px/1000;
		@media screen and (max-width: @media-xxl) {
			font-size: 9px;
			letter-spacing: @letterSpacinngExt*9px/1000;
		}
	}
	
}
//end все готовые проекты