.main-process {
  // .gl0;
  .wrapper-contur; // обёртка -  белый контур вокруг контента экранов
  @media screen and (max-width: @media-sm) { //  576px;
    padding-left: @paddingLeftGlobal-sm;
    padding-right: @paddingLeftGlobal-sm;
  }
}

.main-process-content {
  // .gl0;
  .wrapper-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @colorSectionFon;
  @media screen and (max-width: 940px) {
    height: auto;
    padding-top: 80px;
    padding-bottom: 120px;
  }
  @media screen and (max-width: 760px) {
    padding-top: 43px;
    padding-bottom: 14px;
  }
}

// заголовок страницы
.main-process_title {
  // .gl1;
  position: absolute;
  z-index: 1;
  .font-title-for-section;
  top: 78px;
  left: 0;
  .paddingLeftGlobal;
  @media screen and (max-width: @media-xxl)   { // 1440px
    top: 37px;
  }
  @media screen and (max-width: @media-sm) { // 576px
    display: none;
  }
}

// слайдер
.process-slider {
  // .gl1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: auto;
padding-bottom: 50px;
  // содержание слайдера
  &__content{
    // .gl1;
  }
  
  // иллюстрация слайдера
  &__illusrtration {
    // .gl2;
    width: 572px;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 9px;
    @media screen and (max-width: @media-xxl) { // 1440px
      width: 450px;
    }
    @media screen and (max-width: @media-lg) { // 992px;
      width: 350px;
    }
    @media screen and (max-width: @media-md) { // 992px;
      width: 100%;
    }

  }
  &__illusrtration-img {
    // .gl3;
    display: block;
    width: 85%;
    object-fit: cover;
    object-position: center;
    @media screen and (max-width: @media-xxl) { // 1440px
      // width: 50%;
      // height: auto;
    }
  }

  .show-none { // скрываем не нужные иллюстрации слайдера
    .show-none;
  }

  // информация слайдера
  &__info {
    // .gl3;
    max-width: 750px;
    text-align: center;
    @media screen and (max-width: @media-xxl) { // 1440px
      max-width: 600px;
    }
    @media screen and (max-width: @media-lg) { // 992px;
      max-width: 500px;

    }
    @media screen and (max-width: @media-sm) { // 576px
      width: 100%;
      margin: auto;
    }
  }
  &__title { // заголовок слайдера
    // .gl4;
    text-align: center;
    margin-bottom: 28px;
    font-size: 28px;
    color: @fontColorTitleText; // green
    letter-spacing: @letterSpacinngExt*28px/1000;
    text-transform:uppercase;
    font-weight: bold;
    @media screen and (max-width: @media-xxl) { // 1440px
      font-size: 21px;
      letter-spacing: @letterSpacinngExt*21px/1000;
      margin-bottom: 21px;
    }
    @media screen and (max-width: @media-sm) { // 576px
      font-size: 17px;
      letter-spacing: @letterSpacinngExt*17px/1000;
      margin-bottom: 12px;
    }

  }
  &__text { // текстовое содержание слайдера
    // .gl4;
    font-size: 21px;
    line-height: 33px;
    letter-spacing: @letterSpacinngNorm*21px/1000;
    @media screen and (max-width: @media-xxl) { // 1440px
      font-size: 16px;
      letter-spacing: @letterSpacinngNorm*21px/1000;
      line-height: 24px;
      padding-left: @paddingLeftGlobal-xxl;
      padding-right: @paddingLeftGlobal-xxl;
    }
    @media screen and (max-width: @media-sm) { // 576px
      font-size: 13px;
      letter-spacing: @letterSpacinngNorm*13px/1000;
      line-height: 17px;

    }
  }

// пагинация слайдера
  &__pagination {
    // .gl2;
    width: 950px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    margin-top: 52px;
    @media screen and (max-width: @media-xxl) { // 1440px
      width: 700px;
      margin-top: 33px;
    }
    @media screen and (max-width: @media-md) { // 768px
      margin-top: 33px;
      width: 80vw;
    }
    @media screen and (max-width: @media-md) { // 768px
      margin-top: 30px;
      width: 80vw;
    }
    
    &-container { // кружочки с подписями
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 800px;
      @media screen and (max-width: @media-xxl) {
        width: 600px;
      }
      @media screen and (max-width: @media-md) { // 768px
        max-width: 86%;
      }
    }
  }
  &__arrow{ // стрелки пагинации слайдера
    // .gl3;
    width: 15px;
    height: 32px;
    cursor: pointer;
    &-left {
      background: url("@{img}process_arrow_left_icon.png") center center no-repeat;
      &:hover {
        filter: @color_change_hover;
      }
      @media screen and (max-width: @media-xxl) { // 1440px
        background-size: 80%; 
      }  
      @media screen and (max-width: 420px) {
        background-size: 60%; 
      }  
    }
    &-right {
      background: url("@{img}process_arrow_right_icon.png") center center no-repeat;
      &:hover {
        filter: @color_change_hover;
      }
      @media screen and (max-width: @media-xxl) { // 1440px
        background-size: 80%; 
      }  
      @media screen and (max-width: 420px) {
        background-size: 60%; 
      }  
    }
  }

  // цифры и фон пагинации слайдера
  &__item{
    // .gl3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &-fon {
      position: relative;
      margin: 0 auto;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-color: #ffffff;

      color: @fontColorTitleText;
      font-size: 21px;
      font-weight: bold;

      cursor: pointer;
      @media screen and (max-width: @media-xxl) { // 1440px
        width: 32px;
        height: 32px;
        font-size: 15px;
      }
      @media screen and (max-width: 420px) {
        width: 24px;
        height: 24px;
        font-size: 11px;
      }

      &--active {
        color: #ffffff;
        background-color: @fontColorTitleText;
      }

      &:checked {
        color: #ffffff;
        background-color: @fontColorTitleText;
      }
      &:active {
        color: #ffffff;
        background-color: @fontColorTitleText;
      }
      &:hover {
        color: #ffffff;
        background-color: @fontColorTitleText;
      }
    }

    &-name{
      // .gl4;
      position: absolute;
      top: 100%; 
      left: 50%;
      transform: translateX(-50%);
      padding-top: 12px;

      font-size: 10px;
      font-weight: bold;
      line-height: 16px;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 170*10px/1000; // 170 в макете 1920
      color: @fontColorTitleText;
      @media screen and (max-width: @media-xxl) {
        padding-top: 10px;
        font-size: 8px;
        line-height: 12px;
        letter-spacing: 150*8px/1000;
      }
      @media screen and (max-width: @media-lg) { // 768px
        padding-top: 10px;
        font-size: 8px;
        line-height: 12px;
        letter-spacing: 50*8px/1000;
      }
      @media screen and (max-width: @media-md) { // 768px
        display: none;
      }
    }
  }
}