.main-video {
  // .gl0;
  .wrapper-contur;
  position: relative;
}

// .video-translation{
//   .gl1;
//   .wrapper-content;
//   position: relative;
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
//   // flex-direction: column;
//   // background-size: cover;
// }
.video-mobile--vertical { // мобильная версия вертикальный экран
  // .gl2;
  .wrapper-content;
  position: relative;
  display: none;
  @media screen and (max-width: @media-sm) {  // 576px
    display: block;
    background: url(../img/video_fon.jpg) center no-repeat;
    background-size: cover;
    background-position-x: 60%;
  }
}

// блок со стрелкой и заголовком
.main-video { 
  &__control { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100vw;
  }
}
.video {
  &__arrow { // стрелка СТАРТ видео
    // .gl2;
    width: 85px;
    height: 95px;
    background-image: url(../img/video_play_icon.png);
    background-repeat: no-repeat; 
    background-position: 50% 50%;
    background-size: auto;
    margin-bottom: 50px;
    cursor: pointer;
    @media screen and (max-width: @media-xxl) {
      width: 41px;
      height: 45px;
      background-size: contain;
      margin-bottom: 14px;
    }
    @media screen and (max-width: @media-sm) { // 576px;
      margin-bottom: 28px;      
    }
  }

  &__title { // заголовок секции видео
    // .gl2;
    .font;
    max-width: 500px;
    text-align: center;
    .font-title-for-section;
    color: white;
    // font-size: 60px;
    // letter-spacing: @letterSpacinngExt*60px/1000;
    // text-transform: uppercase;
    @media screen and (max-width: @media-xxl) { // 1440px
      max-width: 30%;
    }
    @media screen and (max-width:  @media-md) { // 768px;
      max-width: 35%;
    }
    @media screen and (max-width: 615px) {
      width: 90%;
      max-width: 100%;
    }
    @media screen and (max-width: @media-sm) { // 576px;
      font-size: 21px;
      line-height: 26px;
      letter-spacing: @letterSpacinngExt*21px/1000;
    }
  }
}

.relation { // трансляция видео
  position: relative;
  @media screen and (max-width: @media-sm) { // 576px;
    display: none; // мобильная версия - вертикальный экран
  }
  &__ratio-16x9 { // пропорция видеоролика
    padding-top: 9 / 16 * 100%;
  }

  &__content { // видеоролик
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
