.main-header {
  // .gl0;
}

.main-menu {
  // .gl2;
  padding: @paddingTopBottomSection @wrapperPaddingLR;
  padding-top: 0;
  padding-bottom: 0;
  // display: none; // скрываем видимость меню
  position: fixed; // меню всегда в верхнем положении
  right: 0; // растягиваем меню на всю ширину экрана 
  left: 0;
  z-index: 4;
  background-color: #fff;
  @media screen and (max-width: @media-xxl) { // 1440px
    padding-left: @paddingLeftGlobal-xxl;
    padding-right: @paddingLeftGlobal-xxl;
  }
  @media screen and (max-width: @media-sm) { // 576px
    padding-left: @paddingLeftGlobal-sm;
    padding-right: @paddingLeftGlobal-sm;
  }
  &__logo {
    // .gl3;
    &-img { 
      max-width: 100%;
      @media screen and (max-width: @media-xxl) {
      max-width: 152px;
      }
      @media screen and (max-width: @media-sm) {
        display: none;
      }
      &--mob {
        display: none;
        @media screen and (max-width: @media-sm) {
          display: block;
        }
      }  
    }
  }
}

// обёртка меню
.wrapper {
  // .gl1;
  padding-left: @paddingLeftGlobal;
  padding-right: @paddingLeftGlobal;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: @media-xxl) { // 1440px
    padding-left: @paddingLeftGlobal-xxl;
    padding-right: @paddingLeftGlobal-xxl;
  }
  @media screen and (max-width: @media-sm) { // 576px
    padding-left: @paddingLeftGlobal-sm;
    padding-right: @paddingLeftGlobal-sm;
  }
}  
// меню навигация
.main {

  &-nav {
    // .gl3;
    max-width: 80%;
    height: 112px; // высота меню
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
    @media screen and (max-width: 1160px) {
      max-width: 83%;
    }
    @media screen and (max-width: @media-xxl) {  // 1440px
      height: 70px; // высота меню
    }
    @media screen and (max-width: @media-xlg) { // 1024px
    }
    @media screen and (max-width: 900px) {
      display: none;
    }
    
    &__item {
      // .gl3;
      display: block;
      margin-left: 2em;
      .font-menu();
      font-size: @font-size-normal;
      @media screen and (max-width: 1600px) {
        margin-left: 1.5em;
        font-size: 19px;
      }
      @media screen and (max-width: @media-xxl) { // 1440px
        font-size: 15px;
        margin-left: 1.3em;
      }
      @media screen and (max-width: 1160px) {
        margin-left: 1.1em;
        letter-spacing: @font-size-normal-xl*150/1000;
      }
      @media screen and (max-width: @media-xlg) { // 1024px;
        margin-left: 1em;
        flex-grow: 1;
        letter-spacing: @font-size-normal-xl*150/1000;
      }
      @media screen and (max-width: 950px) {
        font-size: 1.5vw;
      }
      text-align: center;
      flex-shrink: 2;
      // white-space: nowrap;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        color: @font-color-hover;
      }
      &:active {
        color: @font-color-active;
      }
      &:target {
        color: @font-color-active;
      }

    }
  }
}
// меню на мобильном mob-nav
.mob-nav {
  height: 70px;
  display: flex;
  align-items: center;
}
.burger-container {
  display: none;
  @media screen and (max-width: 900px) {
    display: block;
    width: 24px;
    height: 23px;
    cursor: pointer;  
  }
}
.burger-container_icon {
  display: none;
  @media screen and (max-width: 900px) {
    position: relative;
    display: block;
    width: 24px;
    height: 3px;
    background-color: @font-color-main; // #3d3e3d
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    width: 24px;
    height: 3px;
    background-color: @font-color-main; // #3d3e3d
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 24px;
    height: 3px;
    background-color: @font-color-main; // #3d3e3d
  }
}