.main-footer {
  // .gl0;
  .wrapper-contur;
}

.main-footer-content {
  // .gl0;
  height: 200px;
  display: flex;
  justify-content: space-between;
  background-color: @fontColorTitleText;
  padding-left: @paddingGlobal-xxxl;
  padding-right: @paddingGlobal-xxxl;
  @media screen and (max-width: @media-xxl) { // 1440px;
    height: 150px;
    padding-left: @paddingLeftGlobal-xxl;
    padding-right: @paddingLeftGlobal-xxl;
  }
  @media screen and (max-width: @media-md) { // 768px
    align-items: center;
  }
  @media screen and (max-width: 708px) { // 576
    height: auto;
    flex-wrap: wrap;
    padding-top: 36px;
    padding-bottom: 44px;
    padding-left: @paddingTopBottomSection-sm;
    padding-right: @paddingTopBottomSection-sm;
  }
}

.footer__icon { // иконка в мобильной версии футера
  &-container {
  display: none;
  flex-grow: 1;
    @media screen and (max-width: @media-sm) { // 576px
      display: block;
    }
  }
  &-img { 
    width: 49px;
    height: 49px;
    background: url(../img/phone_icon_mob.png) center no-repeat;
    background-size: contain;
    margin: auto;
    margin-bottom: 36px;
  }
}

.footer__form {
  // .gl1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: @media-xxl) { // 1440px;
  }
  @media screen and (max-width: @media-md) { // 768px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &_text {
    // .gl1;
    font-size: 21px;
    font-weight: bold;
    color:#fff;
    letter-spacing: @letterSpacinngNorm*21px/1000;
    flex-basis: 460px;
    @media screen and (max-width: @media-xxl) { // 1440px;
      font-size: 17px;
      line-height: 1.23em;
      letter-spacing: @letterSpacinngNorm*17px/1000;
      flex-basis: 256px;
      flex-grow: 1;
    }
    @media screen and (max-width: @media-xlg) { // 1024px;
      font-size: 15px;
      line-height: 1.2em;
      letter-spacing: @letterSpacinngNorm*15px/1000;  
    }
    @media screen and (max-width: @media-md) { // 768px;
      margin: 0 auto 25px;
      flex-basis: 460px;
      text-align: center;
      font-size: 13px;
      line-height: 1.1em;
      letter-spacing: @letterSpacinngNorm*13px/1000;  
    }
    @media screen and (max-width: @media-sm) { // 576
      font-size: 14px;
      font-weight: normal;
      line-height: 1.21em;
      letter-spacing: @letterSpacinngNorm*14px/1000;  
      flex-basis: 100%;
      margin: auto @paddingLeftGlobal-sm;
      margin-bottom: 25px;
    }
  }
  &_mail { // form input 
    // .gl1;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: @letterSpacinngNorm*18px/1000;
    padding-left: 25px;
    color: @font-color-form-placeholder; // #a1a9b0
    @media screen and (max-width: @media-xxl) {
      height: 46px;
      font-size: 15px;
      letter-spacing: @letterSpacinngNorm*15px/1000;
      padding-left: 20px;
    }
    @media screen and (max-width: @media-md) { // 768px;
      font-size: 16px;
      letter-spacing: @letterSpacinngNorm*16px/1000;  
    }
    @media screen and (max-width: 708px) {
      margin-bottom: 16px;  
    }
    @media screen and (max-width: @media-sm) { // 576px
      padding-left: @paddingLeftGlobal-sm;
      height: 40px;
      font-size: 13px;
      letter-spacing: normal;
      margin-bottom: 16px;  
    }

    &--kontainer {
      display: block;
      flex: 0 1 670px;
      margin: 0 unit(64px/1810px)*100%;
      @media screen and (max-width: @media-xxl) {
        flex-grow: 1;
        flex-basis: 296px;
        margin: 0 unit(33px/956px)*100%;
      }
      @media screen and (max-width: @media-md) { 
        flex-grow: 0;
        margin: 0;
        margin-right: unit(33px/956px)*100%;
      }
      @media screen and (max-width: 708px) { // 576
        width: 100%;
        flex-basis: 100%;
        margin: auto;
      }
    }
  }
  &_btn {
    // .gl1;
    .btn();
    flex-basis: 465px;
    border: 2px solid #fff;
    @media screen and (max-width: @media-xxl) { // 1440px
      flex-basis: 256px;
      flex-grow: 1;
      height: 46px;
      font-size: 16px;
      letter-spacing: @letterSpacinngExt*16px/1000;  
    }
    @media screen and (max-width: @media-xlg) {
      font-size: 15px;
      letter-spacing: @letterSpacinngExt*15px/1000;
      line-height: 1em;  
    }
    @media screen and (max-width: @media-md) {
      font-size: 13px;
      letter-spacing: @letterSpacinngExt*13px/1000;  
    }
    @media screen and (max-width: @media-sm) { // 576px
      height: 40px;
      letter-spacing: 150*13px/1000;
    }
  }
}

