.main-contacts {
  // .gl0;
  .wrapper-contur;
}

.main-contacts-content {
  // .gl0;
  .wrapper-content;
  height: 666px;
  display: flex;
  justify-content: space-between;
  position: relative;

  // background: url(../img/ladys_contact.png) 0% 100% no-repeat @colorGrayLight1;
  // background-size: cover;
  // background-position: 0%;
  @media screen and (max-width: @media-xxl) {
    height: 481px;
  }
  @media screen and (max-width: 940px) {
    height: 100%;  
    flex-wrap: wrap;
  }
  @media screen and (max-width: @media-sm) { // 576px
    height: auto;  
  }
}

// контакты
.contacts {
  // .gl1;
  width: 50%;
  .paddingLeftGlobal;
  padding-top: 70px;
  background-color: @colorGrayLight1;
  z-index: 0;
  position: relative;
  @media screen and (max-width: @media-xxl) {
    padding-top: 37px;
  }
  @media screen and (max-width: 940px)  {
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }
  @media screen and (max-width: @media-sm) { // 576px
    padding-top: 40px;
    width: 100%;
    height: auto;  
    padding-left: @paddingLeftGlobal-sm;
    padding-right: @paddingLeftGlobal-sm;
  }

  &__header{
    // .gl2;
    margin-bottom: 76px;
    @media screen and (max-width: @media-xxl) {
      margin-bottom: 32px;
    }
    @media screen and (max-width: @media-sm) { // 576px
      width: 100%;
      margin-bottom: 40px;
    }
  }
  &__title { // название раздела Контакты
    // .gl3;
    .font-title-for-section;
    margin-bottom: 18px;
    @media screen and (max-width: @media-xxl) {
      margin-bottom: 4px;
    }
    @media screen and (max-width: @media-sm) { // 576px
      width: 100%;
      margin: auto;
      margin-bottom: 8px;
    }
  }
  &__subtitle {
    // .gl3;
    max-width: 325px;
    font-size: 18px;
    font-weight: bold;
    color: @colorGrayLight2;
    line-height: 21px;
    letter-spacing: @letterSpacinngNorm*18px/1000;
    @media screen and (max-width: @media-xxl) {
      max-width: 232px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: @letterSpacinngNorm*14px/1000;
    }
    @media screen and (max-width: 940px)  {
      max-width: 70%;
      margin: auto; 
    }
    @media screen and (max-width:@media-sm) { // 576px
      max-width: 100%;
    }
  }
  
  &__phone { // блок телефона
    // .gl2;
    margin-bottom: 27px; 
    @media screen and (max-width:@media-sm) { // 576px
      margin-bottom: 36px; 
      width: 100%;
    }
    &-t {
      // .gl3;
      display: block;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      color: @colorGrayLight2;
      letter-spacing: @letterSpacinngExt*18px/1000;
      margin-bottom: 5px;
      @media screen and (max-width: @media-xxl) { // 1440px
        font-size: 12px;
        letter-spacing: @letterSpacinngExt*12px/1000;
        margin-bottom: 3px;
      }
    }
    &-number { // номер телефона
      // .gl3;
      display: block;
      .font;
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: @letterSpacinngExt*32px/1000;
      text-decoration: none;
      @media screen and (max-width: @media-xxl) {
        font-size: 20px;
        letter-spacing: @letterSpacinngExt*20px/1000;
      }
      @media screen and (max-width:@media-sm) { // 576px
        font-size: 21px;
        letter-spacing: @letterSpacinngExt*21px/1000;        
      }
    }
  }
  
  &__email { // электронный адрес
    // .gl2;
    // max-width: 302px;
    margin-bottom: 80px;
    @media screen and (max-width: @media-xxl) { // 1440px
      margin-bottom: 28px;      
    }
    
    &-t {
      // .gl3;
      display: block;
      display: block;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      color: @colorGrayLight2;
      letter-spacing: @letterSpacinngExt*18px/1000;
      margin-bottom: 6px;
      @media screen and (max-width: @media-xxl) { // 1440px
        font-size: 12px;
        letter-spacing: @letterSpacinngExt*12px/1000;    
        margin-bottom: 4px;
      }
      @media screen and (max-width:@media-sm) { // 576px
        margin-bottom: 6px;
      }
    }
    &-adr { // блок адресов
      // .gl3;
      display: inline-block;
      box-sizing: border-box;
      font-size: 26px;
      font-weight: bold;
      color: @colorGrayLight2;
      letter-spacing: @letterSpacinngNorm*26px/1000;
      text-decoration: none;
      border-bottom: 2px solid @colorGrayLight2trp;
      @media screen and (max-width: @media-xxl)  {
        border-bottom: 1px solid @colorGrayLight2trp;
        font-size: 14px;
        letter-spacing: @letterSpacinngNorm*14px/1000;
      }
      @media screen and (max-width: 940px)  {}
      @media screen and (max-width:@media-sm) { // 576px
        font-size: 17px;
        letter-spacing: @letterSpacinngNorm*17px/1000;
      }
      &:hover {
        border-bottom: 2px solid @colorGrayLight2;
        @media screen and (max-width: @media-xxl)  { // 1440px
          border-bottom: 1px solid @colorGrayLight2;
        }
      }
      &:active {
        color: @font-color-main;
        border-bottom: 2px solid @font-color-main;
        @media screen and (max-width: @media-xxl) { // 1440px
          border-bottom: 1px solid @colorGrayLight2;
        }
      }
    }
  }
  
  &__place { // адреса
    // .gl2;
    max-width: 490px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: bold;
    line-height: 29px;
    letter-spacing: @letterSpacinngNorm*18px/1000;
    color: @colorGrayLight2;
    @media screen and (max-width: @media-xxl) { // 1440px
      max-width: 100%;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: @letterSpacinngNorm*12px/1000;
      text-align: left;
      flex-wrap: nowrap;
    }
    @media screen and (max-width: 1280px) {
      flex-direction: column;
    }
    @media screen and (max-width: 940px) {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 40px;
    }

    &-requisites { // реквизиты
      // .gl3;
      margin-right: 48px;
      margin-bottom: 28px;
      @media screen and (max-width: @media-xl) { // 1200px
        margin-bottom: 26px;        
      }
      @media screen and (max-width: 940px) {
        margin-bottom: 0;
        margin-right: 20px;         
      }
       span {
        text-transform: uppercase;
       }
    }

    &-adress { // почтовый адрес
      // .gl3;
       span {
        text-transform: uppercase;
        letter-spacing: @letterSpacinngExt*18px/1000;
        @media screen and (max-width: @media-xl) { // 1200px
          letter-spacing: @letterSpacinngExt*12px/1000;
        }
      }
    }
  }
}  
// end контакты

// фото команды
.contacts {
  &__team {
    // .gl1;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    background: url(../img/ladys_contact.png) 65% 100% no-repeat;
    pointer-events: none; // делаем слой с картинкой прозрачной для курсора мыши
    @media screen and (max-width: 1840px) {
      background-size: 60%;
      background-position-x: 75%;      
    }
    @media screen and (max-width: @media-xxl) { // 1440px;
      background-size: 50%;
      background-position-x: 55%;
    }
    @media screen and (max-width: 1200px) { // 1440px;
      background-size: 60%;
      background-position-x: 65%;
    }
    @media screen and (max-width: @media-xlg) { // 1024px
      background-size: 65%;
      background-position-x: 75%; 
    }
    @media screen and (max-width: 940px) {
      position: relative;
      height: 300px;
      background: url(../img/ladys_contact-lg.jpg) 50% 100% no-repeat;
      background-size: cover;
    }
    @media screen and (max-width: @media-sm) { // 576px
      order: -1;
      height: 72vw;
      background: url(../img/ladys_contact_mob.jpg) 45% 0 no-repeat;
      background-size: cover;
    }
    @media screen and (max-width: 400px) {
      // height: 222px;
      background: url(../img/ladys_contact_mob.jpg) 50% 0 no-repeat;
      background-size: cover;
    }
  }
  &__team-photogroup {
    // .gl3;
  }
}
// end фото команды

  // карта
.contacts {  
  &__map {
    // .gl2;
    position: relative;
    width: 595px;
    // background: url(../img/map.png) 100% 100% no-repeat;
    background-size: cover;
    overflow: hidden;
    flex-shrink: 595px;
    @media screen and (max-width: 940px) {
      width: 100%;
      height: 200px;
    }
    @media screen and (max-width:@media-sm) { // 576px
      height: 128px;
    }
  }
}  
.map {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
// end карта