.main-payment {
  // .gl0;
  .wrapper-contur; // обёртка -  белый контур вокруг контента экранов
}
.main-payment-content {
  // .gl0;
  .wrapper-content;
  .flex-center;
  background-color: @colorSectionFon; // #f5f6f8
  @media screen and (max-width: 940px) {
    height: auto;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @media screen and (max-width: @media-sm) { // 576px
    padding-top: 27px;
    padding-bottom: 23px;
  }
}

.payment-slider {
  // .gl1;
  max-width: 1386px;
  text-align: center;
  @media screen and (max-width: @media-xxl) { // 1440px
    max-width: 900px; // 798px;
  }


  // заголовок страницы
  &__title {
    // .gl1;
    text-align: center;
    margin-bottom: 77px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: @letterSpacinngExt;
    text-transform: uppercase;
    color: @fontColorTitleText;
    @media screen and (max-width: @media-xxl) { // 1440px
      margin-bottom: 40px;
      font-size: 21px;
    }
    @media screen and (max-width: @media-sm) { // 576px
      margin-bottom: 27px;
      font-size: 16px;
    }
  }
  // слайдер
  &__content {
    // .gl2;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    @media screen and (max-width: 700px) { // переход на вертикальный вариант иллюстрации    последовательности оплаты
      display: none; 
    }
  }
  // иллюстрация слайдера 
  &__illustration {
    // .gl3;

  }
  &__illustration-img {
    // .gl3;
    display: block;
    width: 1281px;
    margin-bottom: 48px;
    @media screen and (max-width: @media-xxl) { // 1440px
      width: 900px;
      margin-bottom: 40px;
    }
    @media screen and (max-width: @media-xl) { // 1200px
      width: 757px;
      margin-bottom: 30px;
    }
    @media screen and (max-width: 870px) {
      width: 590px;
    }
  }
  // текстовая часть слайдера
  &__info {
    // .gl2;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  //  листалка слайдера
  &__arrow { // стрелки
    // .gl3;
    width: 50px;
    height: 50px;
    cursor: pointer;
    @media screen and (max-width: @media-xxl) { // 1440px
      width: 26px;
      height: 26px;
    }
    &--left{
      background: url("@{img}/process_arrow_left_icon.png") 0% 50% no-repeat;
      @media screen and (max-width: @media-xxl) { // 1440px
      background-size: 12px auto;
      &:hover {
        filter: @color_change_hover;
      }
      }
    }
    &--right{
      background: url("@{img}/process_arrow_right_icon.png") 100% 50% no-repeat;
      @media screen and (max-width: @media-xxl) { // 1440px
      background-size: 12px auto;
      &:hover {
        filter: @color_change_hover;
      }
      }
    }
    
  }
  &__text-container {
    // .gl3;
    position: relative;
    display: inline-table;
    box-sizing: border-box;
    width: 1288px;
    height: 220px;
    background-color: #ffF;
    border-top: 2px solid @fontColorTitleText;
    @media screen and (max-width: 1600px) {
      width: 1000px;
      height: 210px;
    }
    @media screen and (max-width: @media-xxl) { // 1440px
      width: 940px;
      height: 190x;
    }
    @media screen and (max-width: @media-xl) { // 1200px
      width: 712px;
      height: 174px;
    }
    @media screen and (max-width: 870px) {
      width: 550px;
      height: 174px;
      padding-left: 10%;
      padding-right: 10%;
    }
  }
// стрелка — указатель этапа
  &__triangle-pointer {
    position: absolute;
    border-style: solid;
    border-color: transparent transparent @fontColorTitleText transparent; // #667e48
    border-width:  0 14px 32px 14px;

    &--4 { // указатель 4-го этапа
    top: -30px;
    left: 1027px;
    @media screen  and (max-width: 1600px){
      top: -30px;
      left: 883px;
    }
    @media screen  and (max-width: @media-xxl){ // 1440 px
      top: -16px;
      left: 585px;
      border-width:  0 7px 16px 7px;
      }
    @media screen  and (max-width: @media-xlg){
      left: 585px;
      }
    }
    @media screen and (max-width: 870px) {
      left: 450px;
    }
  }

  &__text {  // текстовая часть слайдера
    // .gl4;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    @media screen  and (max-width: @media-xxl){
      font-size: 16px;
    }
  }
} 

.show-none {
  .show-none;
}

.payment-slider__content--mob {
  display: none;
  @media screen and (max-width: 700px) { // переход на вертикальный вариант иллюстрации последовательности оплаты
   display: block;
   padding-left: @paddingLeftGlobal-xxl;
   padding-right: @paddingLeftGlobal-xxl;
  }
  @media screen and (max-width: @media-sm) { // 576px
    padding-left: @paddingLeftGlobal-sm;
    padding-right: @paddingLeftGlobal-sm;
  }
}
.payment-mob__img {
  width: 100%;
}
