// .main-menu {
//   display: none;
// }

.project-header {
  // .gl0;
  .wrapper-contur; // белое поле вокруг контента страницы

  &__content {
    // .gl0;
    .wrapper-content; // вертикальный размер содержания страницы
    padding-top: 112px;// высота меню
    @media screen and (max-width: @media-xxl) { // 1440px
      padding-top: 70px; // высота меню
    }
  }
}

.project-header {
  // .gl1;
  &__top { // готовый проект
    box-sizing: border-box;
    background-color: @colorGrayLight4;
    height: 102px;
    padding-top: 23px;
    padding-left: @paddingLeftGlobal-sm;
    @media screen and (min-width: @media-sm) { // 576px
      height: 134px;
      padding-top: 32px;
      padding-left: @paddingGlobal-xxl;   
    }
    @media screen and (min-width: @media-xl) { // 1440px
      height: 225px;
      padding-top: 54px;
      padding-left: @paddingGlobal-xxxl;  
    }
  
  }
  &__title { 
    margin-bottom: 6px;
  }
  &__title-main { // название готового проекта
    display: inline-block;
    font-size: 20px;
    letter-spacing: 20px*@letterSpacinngExt/1000;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    @media screen and (min-width: @media-sm) { // 576px
      font-size: 30px;
      letter-spacing: 30px*@letterSpacinngExt/1000;
      margin-right: 17px;      
    }
    @media screen and (min-width: @media-xl) { // 1440px
      font-size: 48px;
      letter-spacing: 48px*@letterSpacinngExt/1000;
      margin-right: 19px;
    }
  }
  &__subtitle { // площадь готового проекта
    font-size: 10px;
    letter-spacing: 10px*@letterSpacinngExt/1000;
    font-weight: bold;
    @media screen and (min-width: @media-sm) { // 576px
      font-size: 15px;
      letter-spacing: 15px*@letterSpacinngExt/1000;  
    }
    @media screen and (min-width: @media-xl) { // 1440px
      font-size: 28px;
      letter-spacing: 28px*@letterSpacinngExt/1000;
    }
  }
}

.cost { // стоимость 
  font-size: 17px;
  color: @fontColorTitleText;
  font-weight: bold;
  margin-right: 9px;
  @media screen and (min-width: @media-sm) { // 576px
    font-size: 25px;
  }
  @media screen and (min-width: @media-xl) { // 1440px
    font-size: 40px;
  }
}

.standart { // стандарт франции
  display: inline-block;
  position: relative;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 10px*100px/1000;
  margin-right: 10px;
  @media screen and (min-width: @media-sm) { // 576px
    font-size: 13px;
    letter-spacing: 13px*100/1000;
    margin-right: 20px;
  }
  @media screen and (min-width: @media-xl) { // 1440px
    font-size: 24px;
    letter-spacing: 24px*100/1000;
    margin-right: 28px;
  }
  &__text {
    display: none;
    position: absolute;
    right: -366px;
    top: -10px;
    font-size: 12px;
    font-weight: normal;
    color: @font-color-main;
    letter-spacing: 12px*50/1000;
    line-height: 1.4;
    text-transform: initial;
    width: 300px;
    padding: 12px 16px;
    background-color: #FDFDFD;
    @media screen and (max-width: @media-xl) { // 1440px
      top: -14px;
      font-size: 13px;
      letter-spacing: 13px*50/1000;
    }
    @media screen and (max-width: 620px) {
      top: -14px;
      right: -314px;
      width: 250px;
    }
    @media screen and (max-width: 520px) {
      top: -10px;
      right: -260px;
      width: 200px;
    }
    @media screen and (max-width: 410px) {
      top: 14px;
      right: -140px;
      width: 200px;
    }

    &::before {
      content: "";
      position: absolute;
      left: -12px;
      top: 0;
      border: 6px solid transparent;
      border-right: 6px solid #FDFDFD;
      @media screen and (max-width: 410px) {
        left: 100px;
        top: -12px;
        border: 6px solid transparent;
        border-bottom: 6px solid #FDFDFD;
      }
    }
  }

  &__what-is {
    position: absolute;
    display: flex;
    // justify-content: center;
    top: -12px;
    right: -17px;
    background-color: #c6c6c8;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
   
    @media screen and (min-width: @media-sm) { // 576px
      top: -20px;
      right: -22px;
      height: 22px;
      width: 22px;
    }
    @media screen and (min-width: @media-xl) { // 1440px
      top: -14px;
      right: -21px;
      height: 22px;
      width: 22px;
    }
    &:hover + .standart__text {
      display: block;

    }
    span { // знак вопроса
      color: #fff;
      margin: auto;
      letter-spacing: 0;
      cursor: pointer;
      @media screen and (min-width: @media-sm) { // 576px
        font-size: 16px;
      }
    }

  }
}