.main-menu {
  // display: none;
}

.project-data {
    // .gl0;
    .wrapper-contur;
}
.project-content {
    // .gl0;
    // .wrapper-content;
    height: auto;
}
.project__table { 
  border-collapse: collapse;
  background-color: @colorSectionFon;
  width: 100%;
}

.table-title { // заголовки разделов таблицы
  padding-left: @paddingLeftGlobal-sm;
  padding-top: 16px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: @letterSpacinngNorm*18px/1000;
  color: @font-color-project__title;
  line-height: 19px/18px;
  text-align: left;
  vertical-align: middle;
  background: @colorGrayLight4;
  @media screen and (min-width: @media-sm) { // 576px
    font-size: 20px;
    letter-spacing: @letterSpacinngNorm*20px/1000;    
    line-height: 26px;
    padding-left: @paddingGlobal-xxl;
    padding-top: 9px;
    padding-bottom: 12px;
  }
  @media screen and (min-width: @media-xxl) { // 1440px
    font-size: 28px;
    letter-spacing: @letterSpacinngNorm*28px/1000;    
    line-height: 28px;
    padding-left: @paddingGlobal-xxxl;
    padding-top: 14px;
    padding-bottom: 17px;
  }


  &--border-bottom { // толщина рамки внизу
    border-bottom: 4px solid #fff;
    border-top: 4px solid #fff;
    @media screen and (min-width: @media-sm) { // 576px
      border-bottom-width: 5px;
      border-top-width: 5px;
    }
  }
  &--border-right { // толщина рамки справа
    border-right: 4px solid #fff;
  }
  &--right-column {
    width: 20%;
    text-align: center;
  }
}
.table-list { // ячейка таблицы с текстовой информацией
  // .gl2;
  // position: relative;
  display: list-item; // присваиваем значение списка строке
  list-style-position: outside;
  list-style-image: url(../img/bullet_1.png);  // буллет

  padding-left: 2px;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-right: 10px;
  font-size: @font-size-normal-xl;
  font-weight: normal;
  letter-spacing: @letterSpacinngNorm*18px/1000;
  color: @font-color-project__text;
  line-height: 14px;
  text-align: left;
  @media screen and (min-width: @media-sm) { // 576px
    font-size: 17px;
    letter-spacing: @letterSpacinngNorm*17px/1000;    
    line-height: 22px;
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 9px;
  }
  @media screen and (min-width: @media-xxl) { // 1440px
    list-style-image: url(../img/bullet_3.png);  // буллет
    font-size: 22px;
    letter-spacing: @letterSpacinngNorm*22px/1000;    
    line-height: 28px;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 16px;
  }
   span {
    vertical-align: super;
    font-size: 11px;
    @media screen and (min-width: @media-sm) { // 576px
      font-size: 12px;
    }
    @media screen and (min-width: @media-xxl) { // 1440px
      font-size: 13px;
    }
  }
  &--border-bottom { // тонкая линия границы строки таблицы внизу
    border-bottom: 1px solid #fff;
    @media screen and (min-width: @media-sm) { // 576px
      border-bottom-width: 2px;
    }
  }
  // &::before { // точка перед текстом 
  //   // .gl3;
  //   display: none;
  //   content: "";
  //   position: absolute;
  //   display: block;
  //   width: 3px;
  //   height: 3px;
  //   border-radius: 50%;
  //   background: @font-color-project__text;
  //   top: 20px;
  //   left: @paddingLeftGlobal-sm;
  //   top: 25%;
  // }
  // &--border-right-bold { //  толстая линия границы строки таблицы справа
  //   border-right: 4px solid #fff;
  // }
  &--check { // правая ячейка таблицы с «галочкой» check
    // width: 20%;
    width: 20%;
    background: url(../img/check_icon.png) center 10px no-repeat;
    background-size: 20px ;
    @media screen and (min-width: @media-sm) { // 576px
      background-size: 25px ;
    }
    @media screen and (min-width: @media-xxl) { // 1440px
      background-size: 34px;
      background-position-y: 14px;
    }
  }
  &--bold {  // подразделы таблицы
    display: table-cell;
    font-weight: bold;
    padding-left: @paddingLeftGlobal-sm;
    @media screen and (min-width: @media-sm) { // 576px
      padding-left: @paddingGlobal-xxl;
    }
    @media screen and (min-width: @media-xxl) { // 1440px
      padding-left: @paddingGlobal-xxxl;
    }
  }
}

.border-left { // толстая линия границы 2-й колонки таблицы слева
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #fff;
  @media screen and (min-width: @media-sm) { // 576px
    border-left-width: 5px;
  }
  @media screen and (min-width: @media-xxl) { // 1440px
    border-left-width: 8px;
  }
}

.for-bullet { // колонка слева для буллета списка
  width: 25px;
  @media screen and (min-width: @media-sm) { // 576px
    width: 53px;
  }
  @media screen and (min-width: @media-xxl) { // 1440px
    width: 76px;
  }
}
// обратная связь
.project-contact-us { // блок обратной связи
  display: flex;
  flex-direction: column;
  background: @colorGrayLight5;
  padding-top: 40px;
  padding-bottom: 44px;
  padding-left: @paddingLeftGlobal-sm;
  padding-right: @paddingLeftGlobal-sm;
  @media screen and (min-width: @media-xxl) { // 1440px
    padding-top: 96px;
    padding-bottom: 84px;
  }
  &__text { // текст блок обратной связи
    margin: auto;
    text-align: center;
    font-size: @font-size-normal-xl;
    letter-spacing: @font-size-normal-xl*@letterSpacinngNorm/1000;
    line-height: unit(17px/@font-size-normal-xl)em;
    margin-bottom: 17px;
    width: 100%;
    @media screen and (min-width: @media-sm) { // 576px;
      font-size: @font-size-normal;
      letter-spacing: @font-size-normal*@letterSpacinngNorm/1000;
      line-height: unit(25px/@font-size-normal)em;
      margin-bottom: 22px;
      max-width: 380px;
    }
    @media screen and (min-width: @media-xxl) { // 1440px
      font-size: @font-size-normal;
      letter-spacing: @font-size-normal*@letterSpacinngNorm/1000;
      line-height: unit(33px/@font-size-normal)em;
      max-width: 570px;
      margin-bottom: 30px;
    }
  }
}

.project-contact-us_btn { // кнопка вызова почтовой программы
  .btn();
  display: block;
  vertical-align: middle;
  margin: auto;
  width: 100%;
  font-size: 13px;
  height: 40px;
  padding-top:12px; 
  @media screen and (min-width: @media-sm) { // 576px
    font-size: 18px;
    height: 64px;
    width: 380px;
    padding-top:21px; 
  }
  @media screen and (min-width: @media-xxl) { // 1440px
    width: 570px;
  }
}

