.main-slider__items {
  position: absolute;
  right: unit(50px/1820px)*100%; 
  bottom: unit(56px/1820px)*100%; 
  text-align: center;
  @media screen and (max-width: @media-sm) { // 576px;
    right: 0;
    left: 0;
  }
}

.slider-button()  {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 16px;
  border: 2px solid rgba(255, 255, 255, 0);
  @media screen and (max-width: 1170px) {
    width: 14px;
    height: 14px;
  }
  @media screen and (max-width: @media-sm) { // 576px;
    width: 8px;
    height: 8px;
    margin-left: 10px;
  }
}

.slider-item {
  .slider-button;
  background-color: white;

  &-active {
    .slider-button;
    border: 2px solid rgb(255, 255, 255);
    background-color: none; 
  }

  &:active {
    .slider-button;
    border: 2px solid rgb(255, 255, 255);
    background-color: none; 
  }

}